<% 
rowId=system_redirect.system_id
%>
<li id="<%= rowId  %>" class="system-redirect">
  <div class="enabled">
    <%= hidden_field_tag( "system_redirects[]", rowId ) %>
    <%= check_box( "system_enabled", rowId, { :checked => system_redirect.enabled }, true, false ) %>
  </div>
    
  <div class="description" >
    <%= system_redirect.description %>
  </div>
</li>
