<div class="list-table system-redirects">
  <ul class="system-redirect-list">
    <li class="header">
      <div class="enabled"><%= "Enabled".t %></div>
      <div class="description"><%= "Description".t %></div>
    </li>
    
    <%= render( :partial => "system_redirect", :collection => system_redirects ) %>
  </ul>
</div>
