Source: untangle-libnetfilter-queue
Section: libs
Priority: optional
Maintainer: Sebastien Delafond <seb@untangle.com>
Build-Depends: gcc (>= 3.4), untangle-libnfnetlink-dev (>= 1:0.0.30), libtool, pkg-config, dpatch, linux-kernel-headers (>= 2.6.17)
Build-Depends-Indep: dpatch, debhelper (>= 4.2), cdbs (>= 0.4)
Standards-Version: 3.7.2

Package: untangle-libnetfilter-queue0
Architecture: any
Depends: libc6 (>= 2.3.2.ds1-21), untangle-libnfnetlink0 (>= 1:0.0.30)
Conflicts: libnetfilter-queue0
Provides: libnetfilter-queue0
Replaces: libnetfilter-queue0
Description: Netfilter netfilter-queue library
 This is the userspace library for netfilter_queue.

Package: untangle-libnetfilter-queue-dev
Architecture: any
Section: libdevel
Depends: untangle-libnetfilter-queue0 (= ${Source-Version}), untangle-libnfnetlink-dev (>= 1:0.0.30)
Conflicts: libnetfilter-queue-dev
Provides: libnetfilter-queue-dev
Replaces: libnetfilter-queue-dev
Description: Netfilter netfilter-queue library
 This is the userspace library for netfilter_queue.
 .
 This package provides the development files.
