Source: untangle-libnetfilter-queue
Section: libs
Priority: optional
Maintainer: Robert Scott <rbscott@untangle.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: gcc (>= 3.4), libnfnetlink-dev (>= 0.0.30) | untangle-libnfnetlink-dev (>= 0.0.30), libtool, pkg-config, linux-libc-dev (>= 2.6.22), dpatch, debhelper (>= 4.2), cdbs (>= 0.4)
Standards-Version: 3.8.0

Package: untangle-libnetfilter-queue0
Architecture: i386 amd64
Depends: libc6 (>= 2.3.2.ds1-21), libnfnetlink0 (>= 0.0.30) | untangle-libnfnetlink0 (>= 0.0.30)
Conflicts: libnetfilter-queue1, libnetfilter-queue0
Provides: libnetfilter-queue1, libnetfilter-queue0
Replaces: libnetfilter-queue1, libnetfilter-queue0
Description: Netfilter netfilter-queue library
 This is the userspace library for netfilter_queue.

Package: untangle-libnetfilter-queue-dev
Architecture: i386 amd64
Section: libdevel
Depends: untangle-libnetfilter-queue0 (>= 0.0.15), libnfnetlink-dev (>= 0.0.30) | untangle-libnfnetlink-dev (>= 0.0.30)
Conflicts: libnetfilter-queue-dev
Provides: libnetfilter-queue-dev
Replaces: libnetfilter-queue-dev
Description: Netfilter netfilter-queue library
 This is the userspace library for netfilter_queue.
 .
 This package provides the development files.

