Source: untangle-support-agent
Section: net
Priority: optional
Maintainer: Sebastien Delafond <seb@untangle.com>
Build-Depends: cdbs (>= 0.4.23-1.1), debhelper (>= 4.2.0), quilt, patchutils (>= 0.2.25), ruby (>= 1.8)
Build-Depends-Indep: xsltproc, docbook-xml, docbook-xsl
Standards-Version: 3.7.2.1

Package: untangle-support-agent
Architecture: all
Replaces: rbot
Conflicts: rbot
Depends: ruby (>= 1.8), ruby (<< 1.9), libdb4.3-ruby1.8 | libdb4.2-ruby1.8, libopenssl-ruby1.8, libnet-ssh-ruby1.8 (>= 1.1.1), untangle-support-keyring, sudo
Description: IRC bot written in ruby
 Rbot is very extensible thanks to a well designed plugin
 scheme. It has native infobot-style keywords, fact database,
 access levels and multi-language support.
 .
 It comes with several classical plugins, like DNS queries,
 Babelfish translation, Google searching, Karma, Weather,
 quotes, slashdot news, and many more.

