#!/usr/bin/make -f

#DEB_AUTO_UPDATE_DEBIAN_CONTROL := yes

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk

PREFIX := debian/untangle-support-agent

MANPAGES := debian/rbot.1

# configure and build should not be relaunched in binary rule

build/untangle-support-agent:: $(MANPAGES)
	ruby setup.rb config --prefix=/usr --siteruby=/usr/lib/ruby
	ruby setup.rb setup

%.1: %.xml
	xsltproc -nonet -o $@ /usr/share/sgml/docbook/stylesheet/xsl/nwalsh/manpages/docbook.xsl $<

install/untangle-support-agent::
	ruby setup.rb install --prefix=$(PREFIX)
	# figlet is non-free, that's why this package would not recommend such a nasty program in any way
	rm $(PREFIX)/usr/share/rbot/plugins/figlet.rb
	rm $(PREFIX)/usr/share/rbot/contrib/plugins/figlet.rb
	# disabled plugins
#	find $(PREFIX)/usr/share/rbot -name "*.rb" -a ! -name ssh.rb -exec mv "{}" "{}".disabled \;
	find $(PREFIX)/usr/share/rbot -iregex ".*\.rb\(\.disabled\)?" -a ! -iregex '.*/\(ssh\|exec\)\.rb' -exec rm -f "{}" \;
	cp -r home-rbot/.rbot $(PREFIX)/home/rbot

binary-install/untangle-support-agent::
	dh_installman $(MANPAGES)

binary-predeb/untangle-support-agent::
	find $(PREFIX) -name ".arch-ids" -o -name ".svn" -depth -exec rm -rf "{}" \;

clean:: 
	ruby setup.rb clean
	rm -f $(MANPAGES)
	# buildsys fix
	rm -f lib/rbot/pkgconfig.rb

