Source: untangle-development-runtime
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <sdelafond@gmail.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8

Package: untangle-development-runtime
Architecture: all
Depends: ${misc:Depends}, at,
         bridge-utils,
         conntrack,
         curl,
         dash,
         dnsmasq,
         dnsutils,
         ebtables,
         ethtool,
         exim4-daemon-light | mail-transport-agent,
	 freeradius-utils,
         gawk,
         gettext,
         iptables (>> 1.4.2-6),
         iputils-ping,
         libnetfilter-conntrack3 (>= 1.0.4),
         libnetfilter-queue1 (>> 1.0.2),
         libnfnetlink0 (>= 1.0.1),
         libsnmp-dev,
         locales,
         mime-support,
         miniupnpd,
         net-tools,
         netcat-traditional,
         ntp,
         openssl,
         openvpn,
         oracle-java8-jdk | openjdk-17-jre | openjdk-11-jre | ca-certificates-java,
         pciutils,
         perl,
         pppoe,
         psmisc,
         python-egenix-mxdatetime | python3-egenix-mxdatetime,
         python-psycopg2 | python3-psycopg2,
         python-pycurl | python3-pycurl,
	 python-selenium | python3-selenium,
         python-simplejson | python3-simplejson,
         python-unittest2 | python3-unittest2,
	 python-imaging | python-pil | python3-pil,
	 python3-parse,
	 python3-pil,
	 python3-pycurl,
	 python3-requests,
         rsyslog,
	 samba,
         sg3-utils,
	 systemd,
         sudo,
         tcpdump,
         tidy,
         tofrodos,
         untangle-apache2-config,
         untangle-archive-keyring,
         untangle-clamav-config,
         untangle-database-config,
         untangle-ddclient-config,
         untangle-geoip-database,
         untangle-hardware-config,
         untangle-lxc-client,
         untangle-sync-settings,
         untangle-nflogd,
         untangle-nsis-addons,
	 untangle-pyconnector,
         untangle-snmpd-config,
         untangle-spamassassin-update,
         untangle-stunnel-config,
         untangle-system-config,
         unzip,
         wget,
	 winbind,
         zsh
Conflicts: openjdk-8-jre-headless, openjdk-8-jre
Description: Untangle Development Runtime Environment
 The Untangle Runtime Environment package contains all packages needed
 to support running the Untangle Gateway.
 .
 This is a dependency package.
