Source: untangle-vue-ui
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <sdelafond@gmail.com>
Build-Depends: node (>= 10)

Package: untangle-vue-ui
Architecture: all
Depends: ${misc:Depends}
Description: Untangle Vue UI
