Source: untangle-mod-proxy-connect
Section: web
Priority: optional
Maintainer: Sebastien Delafond <seb@untangle.com>
Build-Depends: debhelper (>= 4.0.0), apache2-threaded-dev, dpatch
Standards-Version: 3.8.0

Package: untangle-libapache2-mod-proxy-connect
Architecture: any
Depends: ${shlibs:Depends}, apache2, apache2-common | apache2.2-common
Description: mod-proxy with support CONNECT over SSL
 apache2's mod-proxy with patches for support of CONNECT over SSL.
