Source: untangle-monit-config
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <seb@untangle.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: untangle-monit-config, debhelper (>> 3.0.0)
Standards-Version: 3.8.0

Package: untangle-monit-config
Architecture: all
Depends: untangle-monit-config, monit
Description: Untangle monit wrapper package
 The Untangle monit wrapper package
