/* app item install icon */
div.icon-arrow-install {
    background: transparent url(../images/admin/icons/icon_install.png) no-repeat right center !important;
}
/* settings window breadcrumbs separator */
.icon-breadcrumbs-separator {
    background: transparent url(../images/admin/icons/icon_breadcrumbs_separator.gif) no-repeat center center !important;
    width: 13px;
    height: 12px;
}
/* drag icon */
img.icon-drag {
    background:transparent url(../images/admin/icons/icon_drag.gif) no-repeat center center;
    width: 100%;
    cursor: move;
    height: 16px;
}
.x-btn .icon-drag {
    background:transparent url(../images/admin/icons/icon_drag.gif) no-repeat center left !important;
}
/* refresh button icon */
.x-btn .icon-refresh {
    background: transparent url(../images/admin/icons/icon_refresh.png) no-repeat center left !important;
}
/* autorefresh button icon */
.x-btn .icon-autorefresh {
    background: transparent url(../images/admin/icons/icon_autorefresh.png) no-repeat center left !important;
}
/* clear filter button icon */
.x-btn .icon-clear-filter {
    background: transparent url(../images/admin/icons/icon_clear_filter.png) no-repeat center left !important;
}
/* Trial node buy button icon */
.x-btn .icon-buy {
    background: transparent url(../images/admin/icons/icon_buy.png) no-repeat center left !important; 
}
/* help button icon */
.x-btn .icon-help {
    background: transparent url(../images/admin/icons/icon_help.png) no-repeat center left !important; 
}
/* logout button icon */
.x-btn .icon-logout {
    background: transparent url(../images/admin/icons/icon_logout_row.gif) no-repeat center left !important; 
}
/* my account button icon */
.x-btn .icon-myaccount {
    background: transparent url(../images/admin/icons/icon_myaccount.png) no-repeat center left !important; 
}
/* node settings button icon */
.x-btn .node-settings-icon {
    background: transparent url(../images/admin/icons/icon_settings.png) no-repeat center left !important;  
}
/* node remove button icon */
.x-btn .node-remove-icon {
    background: transparent url(../images/admin/icons/icon_remove.png) no-repeat center left !important; 
}
/* cancel button icon */
.x-btn .cancel-icon {
    background: transparent url(../images/admin/icons/icon_cancel.png) no-repeat center left !important; 
}
/* save button icon */
.x-btn .save-icon {
    background: transparent url(../images/admin/icons/icon_save.png) no-repeat center left !important; 
}
/* apply button icon */
.x-btn .apply-icon {
    background: transparent url(../images/admin/icons/icon_floppy.png) no-repeat center left !important; 
}
/* test button icon */
.x-btn .test-icon {
    background: transparent url(../images/admin/icons/icon_test.png) no-repeat center left !important; 
}
/* action button icon */
.x-btn .action-icon {
    background: transparent url(../images/admin/icons/icon_action.gif) no-repeat center left !important; 
}
/* purge button icon */
.x-btn .purge-icon {
    background:transparent url(../images/admin/icons/icon_purge.png) no-repeat center left !important; 
}
/* release button icon */
.x-btn .release-icon {
    background: transparent url(../images/admin/icons/icon_release.png) no-repeat center left !important; 
}
/* detail button icon */
.x-btn .detail-icon {
    background:transparent url(../images/admin/icons/icon_detail.png) no-repeat center left !important; 
}
/* reboot button icon */
.x-btn .reboot-icon {
    background:transparent url(../images/admin/icons/icon_reboot.png) no-repeat center left !important; 
}
/* upgrade button icon */
.x-btn .icon-upgrade {
    background: transparent url(../images/admin/icons/icon_upgrade.png) no-repeat center left !important;
}
/* time chart style switch buttons */
.x-btn .icon-line-chart {
    background: transparent url(../images/admin/icons/icon_line_chart.png) no-repeat center left !important;
}
.x-btn .icon-area-chart {
    background: transparent url(../images/admin/icons/icon_area_chart.png) no-repeat center left !important;
}
.x-btn .icon-bar-chart {
    background: transparent url(../images/admin/icons/icon_bar_chart.png) no-repeat center left !important;
}
.x-btn .icon-bar-overlapped-chart {
    background: transparent url(../images/admin/icons/icon_bar_overlapped_chart.png) no-repeat center left !important;
}
.x-btn .icon-bar3d-chart {
    background: transparent url(../images/admin/icons/icon_bar3d_chart.png) no-repeat center left !important;
}
.x-btn .icon-bar3d-overlapped-chart {
    background: transparent url(../images/admin/icons/icon_bar3d_overlapped_chart.png) no-repeat center left !important;
}
/* add row button icon */
.x-btn .icon-add-row {
    background: transparent url(../images/admin/icons/icon_add_row.gif) no-repeat center left !important;
}
/* edit button icon */
.x-btn .icon-edit {
    background: transparent url(../images/admin/icons/icon_edit_row.gif) no-repeat center left !important;
}

/* import row button icon */
.x-btn .icon-import {
    background: transparent url(../images/admin/icons/icon_import.gif) no-repeat center left !important;
}
/* export row button icon */
.x-btn .icon-export {
    background: transparent url(../images/admin/icons/icon_export.gif) no-repeat center left !important;
}
/* row add icon */
.icon-add-inline-row {
    background: transparent url(../images/admin/icons/icon_row_add.png) no-repeat center center;
    width: 100%;
    cursor: pointer;
    height: 16px;
}
/* edit row icon */
.icon-edit-row {
    background: transparent url(../images/admin/icons/icon_edit_row.gif) no-repeat center center;
    width: 100%;
    cursor: pointer;
    height: 16px;
}
/* delete row icon */
.icon-delete-row {
    background: transparent url(../images/admin/icons/icon_delete_row.gif) no-repeat center center;
    width: 100%;
    cursor: pointer;
    height: 16px;
}
/* wireless row icon */
.icon-wireless {
    background:transparent url(../images/admin/icons/icon_wireless.png) no-repeat center center;
    width: 100%;
    cursor: pointer;
    height:16px;
}

/* detail row icon */
.icon-detail-row {
    background:transparent url(../images/admin/icons/icon_detail_row.gif) no-repeat center center;
    width: 100%;
    cursor: pointer;
    height: 16px;
}
/* add filter row icon */
.icon-filter-row {
    background:transparent url(../images/admin/icons/icon_filter.png) no-repeat center center;
    width: 100%;
    cursor: pointer;
    height: 16px;
}
/* download row icon */
.icon-download-row {
    background:transparent url(../images/admin/icons/icon_export.gif) no-repeat center center;
    width: 100%;
    cursor: pointer;
    height: 16px;
}
/* add filter row icon */
.icon-play-row {
    background:transparent url(../images/admin/icons/icon_play.png) no-repeat center center;
    width: 100%;
    cursor: pointer;
    height: 16px;
}
.x-btn .icon-play {
    background:transparent url(../images/admin/icons/icon_play.png) no-repeat center left !important;
}
/* refresh row icon */
.icon-refresh-row {
    background: transparent url(../images/admin/icons/icon_refresh.png) no-repeat center center;
    width: 100%;
    cursor: pointer;
    height: 16px;
}
/* drop row icon */
.icon-drop-row {
    background: transparent url(../images/admin/icons/icon_arrow_down.png) no-repeat center center;
    width: 100%;
    cursor: pointer;
    height: 16px;
}
/* Config Network item icon */
div.icon-config-network {
    background: transparent url(../images/admin/config/icon_config_network.png) no-repeat !important; 
}
/* Config Administration item icon */
div.icon-config-admin {
    background: transparent url(../images/admin/config/icon_config_admin.png) no-repeat !important; 
}
/* Config Email item icon */
div.icon-config-email {
    background: transparent url(../images/admin/config/icon_config_email.png) no-repeat !important; 
}
/* Config Local Directory item icon */
div.icon-config-directory {
    background: transparent url(../images/admin/config/icon_config_directory.png) no-repeat !important; 
}
/* Config About item icon */
div.icon-config-support {
    background: transparent url(../images/admin/config/icon_config_about.png) no-repeat !important; 
}
/* Config Upgrades Available item icon */
div.icon-config-upgrade-available {
    background: transparent url(../images/admin/config/icon_config_upgrade_available.png) no-repeat !important; 
}
/* Config Upgrades unavailable item icon */
div.icon-config-upgrade {
    background: transparent url(../images/admin/config/icon_config_upgrade.png) no-repeat !important; 
}
/* Config System item icon */
div.icon-config-setup {
    background: transparent url(../images/admin/config/icon_config_system.png) no-repeat !important; 
}
.x-btn .icon-test-run {
    background: transparent url(../images/admin/icons/icon_test_run.png) no-repeat center left !important;
}
.x-btn .icon-test-running {
    background: transparent url(../images/admin/icons/icon_test_running.gif) no-repeat center left !important;
}
.x-btn .icon-clear-output {
    background: transparent url(../images/admin/icons/icon_clear_output.png) no-repeat center left !important;
}
.x-btn .icon-test-ping {
    background: transparent url(../images/admin/icons/icon_test_ping.png) no-repeat center left !important;
}
.x-btn .icon-test-connectivity {
    background: transparent url(../images/admin/icons/icon_test_connectivity.png) no-repeat center left !important;
}
div.ua-cell-test { 
    padding-left: 20px;
    line-height: 18px;
}
.ua-cell-enabled { 
    background: transparent url(../images/admin/icons/icon_interface_enabled.png) no-repeat center right;
    width: 100%;
    height: 16px;
    padding: 0px 0px 0px 0px;
}
.ua-cell-disabled { 
    background: transparent url(../images/admin/icons/icon_interface_disabled.png) no-repeat center right;
    width: 100%;
    height: 16px;
    padding: 0px 0px 0px 0px;
}
.ua-draggable {
    cursor: move;
}
.ua-pointer {
    cursor: pointer;
}
div.ua-cell-test-connectivity { 
    background: transparent url(../images/admin/icons/icon_test_connectivity.png) no-repeat center left !important;
}
div.ua-cell-test-ping { 
    background: transparent url(../images/admin/icons/icon_test_ping.png) no-repeat center left !important;
}
div.ua-cell-test-dns { 
    background: transparent url(../images/admin/icons/icon_test_dns.png) no-repeat center left !important;
}
div.ua-cell-test-tcp { 
    background: transparent url(../images/admin/icons/icon_test_tcp.png) no-repeat center left !important;
}
div.ua-cell-test-traceroute { 
    background: transparent url(../images/admin/icons/icon_test_traceroute.png) no-repeat center left !important;
}
div.ua-cell-test-download { 
    background: transparent url(../images/admin/icons/icon_test_download.png) no-repeat center left !important;
}
div.ua-cell-test-packet { 
    background: transparent url(../images/admin/icons/icon_test_packet.png) no-repeat center left !important;
}