Source: untangle-kernel-modules-wheezy-i386
Section: admin
Priority: standard
Maintainer: Sebastien Delafond <seb@untangle.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.8.0

Package: untangle-kernel-modules-wheezy-i386
Architecture: i386
Depends: linux-image-2.6.32-5-untangle-686 | linux-image-2.6.32-5-untangle+xen-686, firmware-bnx2, firmware-bnx2x, e1000-module-2.6.32-5-untangle-686, igb-module-2.6.32-5-untangle-686, bnx2-module-2.6.32-5-untangle-686
Conflicts: niagara22xxed-module-2.6.32-5-untangle-i386, niagara22xxed
Pre-Depends: untangle-debconf-manager
Description: The Untangle appliance internal
 The Untangle appliance internal-to-untangle mode.
