Source: untangle-kernel-modules-wheezy-i386
Section: admin
Priority: standard
Maintainer: Sebastien Delafond <seb@untangle.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.8.0

Package: untangle-kernel-modules-wheezy-i386
Architecture: i386
Depends: linux-image-3.2.0-4-untangle-686, firmware-bnx2, firmware-bnx2x #, e1000-module-3.2.0-4-untangle-686, igb-module-3.2.0-4-untangle-686, bnx2-module-3.2.0-4-untangle-686
Pre-Depends: untangle-debconf-manager
Description: The Untangle appliance internal
 The Untangle appliance internal-to-untangle mode.
