Source: disabler-mv
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <seb@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.7.2

Package: standard-bundle-disabler
Architecture: any
Depends: spyware-disabler, httpblocker-disabler, protofilter-disabler, spamassassin-disabler, clamphish-disabler
Description: The Untangle Security Bundle Disabler
 The Untangle Total Security Bundle Disabler.

Package: spyware-disabler
Architecture: any
Description: The Untangle Spyware Blocker Disabler
 The Untangle Spyware Blocker Software Appliance Disabler.

Package: httpblocker-disabler
Architecture: any
Description: The Untangle Web Content Control Disabler
 The Untangle Web Content Control Software Appliance Disabler.

Package: hauri-disabler
Architecture: any
Description: The Hauri AntiVirus Scanner Disabler
 The Hauri AntiVirus Scanner Software Appliance Disabler.

Package: protofilter-disabler
Architecture: any
Description: The Untangle Rogue Protocol Control Disabler
 The Untangle Rogue Protocol Control Software Appliance Disabler.

Package: spamassassin-disabler
Architecture: any
Description: The Untangle SpamGuard Disabler
 The Untangle SpamGuard Software Appliance Disabler.

Package: clamphish-disabler
Architecture: any
Description: The Untangle PhishNet Disabler
 The Untangle PhishNet Software Appliance Disabler.

Package: portal-disabler
Architecture: any
Description: The Untangle Remote Access Portal Disabler
 The Untangle Remote Access Portal Disabler.

Package: boxbackup-disabler
Architecture: any
Description: The Untangle 24-Hour Replacement Disabler
 The Untangle 24-Hour Replacement Disabler.
