<li>
  <div class="name">
    <%= interface.os_name %>
  </div>
  <div class="vendor">
    <%= interface.vendor %>
  </div>
  <div class="mac-address">
    <%= interface.mac_address %>
  </div>
</li>
