<% form_tag( :action => 'save' ) do -%>

  <%= link_to_remote( "+".t, :url => { :action => :create_file_override } ) %>

  <%= render( :partial => "file_overrides" , :object => @fileOverrideList ) %>

  <%= submit_tag "Cancel".t %>
  <%= submit_tag "Save Changes".t %>

<% end %>