#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

DEST_DIR := $(CURDIR)/debian/$(dpkg-parsechangelog -S Source)

%:
	dh $@ 

override_dh_gencontrol:
	if [ -f debian/version ] ; then dh_gencontrol -- -v"`cat debian/version`" ; else dh_gencontrol ; fi

override_dh_install:
	mkdir -p $(DEST_DIR)
	[ ! -d files ] || cp -ra files/* $(DEST_DIR)
