Source: untangle-squid-config
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <sdelafond@gmail.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8

Package: untangle-squid-config
Architecture: all
Depends: ${misc:Depends}, squid, bc
Description: Untangle Squid config
 The Untangle Squid configuration.
 .
 This is a dependency package.
