<div class="ip-networks">
  <ul class="ip-network-list" id="<%= list_id %>">
    <li class="in-header">
      <div class="in-header-1"><%= "Address and Netmask".t %></div>
      <div class="in-header-2"><%= "ping".t %></div>
      <div class="in-header-2"><%= "Delete".t %></div>
    </li>
    
    <%= render(:partial => "ip_network" , :collection => ip_networks ) %>
  </ul>
</div>