<li>
  <div class="i-column-1">
    <%= interface.os_name %>
  </div>
  <div class="i-column-2">
    <%= interface.vendor %>
  </div>
  <div class="i-column-3">
    <%= interface.mac_address %>
  </div>
</li>
