sudo: required

git:
  depth: false

services:
- docker

env:
  global:
    - SSH_KEY: /tmp/travis-buildbot.rsa
      PACKAGE_SERVER_IP: 71.205.7.221
      REPOSITORY: buster
      PKGTOOLS_COMMIT: origin/${TRAVIS_BRANCH}
      UPLOAD: scp
  jobs:
    - ARCHITECTURE: amd64
    - ARCHITECTURE: i386

before_install:
- docker pull untangleinc/ngfw:${REPOSITORY}-build-${ARCHITECTURE}
- openssl aes-256-cbc -K $encrypted_4573965c4e34_key -iv $encrypted_4573965c4e34_iv -in .travis/buildbot.rsa.enc -out ${SSH_KEY} -d
- chmod 600 ${SSH_KEY}

script:
- docker-compose -f docker-compose.build.yml run pkgtools
- docker-compose -f docker-compose.build.yml run build

notifications:
  email: false
  slack:
    rooms:
      - secure: XzWyKqltaDMHYT5QevjL/uooNeLn3DBDru25wLTj1GzfRr25i+lVB+FvuWI6F3KcaKyNu0vNpP1N398KO/V45oYkUxc4rj7iS3yRvGcfedxtJDSSLO2BPR/iaotVnUqi+qnYSnEHa5pqGWC5OUVonN5+Sy9qqP5BLRbxN+SG9L5jBmzK86P/lY2ESmhOI/U4KiLdBxCNiQK/kxcpiCyEz4xZVwZgqxamRDHvVJDV7CNCZxu3qbUD9eC/gJ9RBscF0TCprdoK3c8DM4V2YNUtrbnn0yKV26gmk+ZevnQQYSXbtRq+oHIUcYJUzmIyhh0lZFD88kNAlQGdieuHuWP3toq5qORRiKx6xhncmERBWnX/lEybmkLjGGP/evm7X9Ct48iVAqmBnsTKlr3nab32O3iggtExVW4oqbP8nlYSoM/NV75gbos0J5IFRzD8rtfweMKP2nrNQLjsZrRufwaNmuWJyYdTLSRWrSRRtJhuU4aYEAHPO3FIfBrLY6Fh5Q09NHfh7YqkDrA1nVF0I4NFuMZt3ASbtC4F1cU5CpYIMgeJZs7p45BFA5efVwuWS0K2upZqXPqUN12BlbbaICo6CHsA0dfIDFVpJ/1bumSyxjKQiZe9pw9qnk4XdrNKvahYudB/VqXZAjrZcrRuFeG0uxckhJtK4nhbfccvpWES6VE=
    on_success: change
    on_failure: always
