<h2 class="title"><%= "Logout".t %></h2>
<div class="rule-content">
<p>Are you sure you want to logout?</p>
<p>&nbsp;</p>
</div>

<div class="actions">
<!--  <div class="rule-help">
    <%= submit_tag( "Help" ) %>
  </div> -->
  <div class="update" onclick=""><a class="submit Update">
    <%= "Logout".t %>
    </a>
  </div>
  <div class="cancel" onclick="">
    <a class="submit Cancel">
    <%= "Cancel".t %>
    </a>
  </div>

</div>