<h2 class="title">Warning</h2>
<p>Warning! leaving this page will lose unsaved changes.</p>

<div class="actions">
<!--  <div class="rule-help">
    <%= submit_tag( "Help" ) %>
  </div> -->
  <div class="update" onclick="myFabTabs.ok()"><a class="submit Update">
    <%= "Update".t %>
    </a>
  </div>
  <div class="cancel" onclick="myFabTabs.cancel()">
    <a class="submit Cancel">
    <%= "Cancel".t %>
    </a>
  </div>

</div>