<div id="title"><h1>Status</h1></div>
<div id="main-content-body">
<%= build_table( Alpaca::Table::Data.new( "status", @interfaces ), status_table_model) %>

<br />

<%= link_to( "Configuration Wizard".t, :controller => :wizard ) %>
</div>
<div id="main-content-footer">
<div id="help-footer">
<%= submit_tag("Help") %>
</div>
</div>