Source: untangle-clamav-config
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <seb@untangle.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.8.0

Package: untangle-clamav-config
Architecture: all
Depends: clamav (>= 0.93~dfsg), clamav-daemon (>= 0.93~dfsg), clamav-freshclam (>= 0.93~dfsg), unrar, lha, arj, unzoo | zoo
Provides: clamav-mv
Conflicts: clamav-mv
Replaces: clamav-mv
Description: The Untangle clamav utils
 The Untangle clamav utilities.

