Source: untangle-clamav-config
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <sdelafond@gmail.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: systemd, debhelper (>= 10)
Standards-Version: 3.9.8

Package: untangle-clamav-config
Architecture: all
Depends: ${misc:Depends}, systemd, clamav (>= 0.93~dfsg), clamav (<< 1.1), clamav-daemon (>= 0.93~dfsg), clamav-daemon (<< 1.1), clamav-freshclam (>= 0.93~dfsg), clamav-freshclam (<< 1.1), unrar, lhasa, arj
Description: The Untangle clamav utils
 The Untangle clamav utilities.
 .
 This is a dependency package.

