Source: untangle-development-build
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <seb@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.7.2

Package: untangle-development-build
Architecture: any
Conflicts: dev-mv
Provides: dev-mv
Replaces: dev-mv
Depends: libxml2-dev, sun-java5-jdk, fakeroot, debhelper, make, module-assistant, subversion, subversion-tools, untangle-iptables-dev (>= 1.2.11-10), untangle-libnfnetlink-dev, untangle-libnetfilter-queue-dev, gcc, libc6-dev, linux-kernel-headers, libsysfs-dev, g++, devscripts, dput, rake (>= 0.7.0-1build1), libncurses-dev, dput, lintian, dpatch, autoconf, libgtk1.2-dev, libnetpbm10-dev, libssl-dev, docbook-xsl, linuxdoc-tools, untangle-linux-headers-2.6.16-ck11-untangle-prod-486 (>= 2.6.11), libdbi-ruby, libgettext-ruby1.8, libgettext-ruby-util
Description: Untangle Development Environment
 The Untangle Development Environment.
