Source: untangle-development-build
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <sdelafond@gmail.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8

Package: untangle-development-build
Architecture: all
Pre-Depends: untangle-debconf-manager
Depends: ${misc:Depends}, autoconf,
         automake1.11,
         bzip2,
         cdbs (>= 0.4),
         cowdancer (>= 0.25),
         debhelper (>= 10),
         devscripts,
         docbook-xsl,
         dput,
         fakeroot,
         g++,
         gcc,
         git,
         git-core,
         global,
         jshint,
         libc6-dev,
         ruby-gettext,
         libjson-c-dev,
         libncurses-dev,
         libnetfilter-conntrack-dev (>= 1.0.4),
         libnetfilter-queue-dev (>= 1.0.2),
         libnetpbm10-dev,
         libnfnetlink-dev (>= 1.0.1),
         libssl-dev,
         libtool,
         libxext6,
         libxml2-dev,
         lintian,
         linux-libc-dev,
         linuxdoc-tools,
         make,
         manpages-dev,
         module-assistant,
         openjdk-8-jdk | openjdk-11-jdk,
         pbuilder (>= 0.161),
	 python-javalang,
	 python3-pytest,
	 python3-setuptools,
	 quilt,
         rake (>= 10),
	 ruby-sass,
         rhino,
         unzip
Description: Untangle Development Environment
 The Untangle Development Environment.
 .
 This is a dependency package.
