Source: fuzzyocr-mv
Section: admin
Priority: normal
Maintainer: Sebastien Delafond <seb@untanglenetworks.com>
Build-Depends: debhelper (>> 3.0.0), dpatch
Standards-Version: 3.5.2

Package: fuzzyocr-mv
Architecture: any
Essential: yes
Depends: spamassassin, gocr, libungif-bin, libimage-exif-perl, libimage-exiftool-perl, libstring-approx-perl, imagemagick, netpbm
Description: The Untangle Networks FuzzyOCR plugin for Spamassassin
 The Untangle Networks FuzzyOCR plugin for Spamassassin.
