Source: pump-mv
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <seb@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.7.2

Package: pump-mv
Architecture: any
Depends: dhcp3-client
Conflicts: pump
Description: The Untangle pump config
 The Untangle pump custom config.
