Source: untangle-sync-settings
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <sdelafond@gmail.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: systemd, debhelper (>= 10)
Standards-Version: 3.9.8

Package: untangle-sync-settings
Architecture: all
Conflicts: untangle-netd
Replaces: untangle-netd
Provides: untangle-netd
Depends: ${misc:Depends}, bridge-utils,
         crda,
         dash,
         isc-dhcp-client,
         ifupdown,
         firmware-iwlwifi,
         firmware-realtek,
         hostapd,
         iptables,
         iputils-arping,
         iw,
         miniupnpd-iptables,
         miniupnpd,
         keepalived,
         libnetfilter-queue1 (>> 1.0.2),
         libnfnetlink0 (>= 1.0.1),
         ndisc6,
         psmisc,
         python3,
         frr,
         radvd,
	 systemd,
	 untangle-python3-sync-settings,
         vlan,
         wireless-regdb,
         wireless-tools,
	 wpasupplicant
Description: The Untangle network daemon
 The Untangle network daemon for managing the network

