Source: untangle-libnfnetlink
Section: libs
Priority: optional
Maintainer: Robert Scott <rbscott@untangle.com>
Build-Depends: cdbs (>= 0.4), debhelper (>= 4.2), gcc, automake1.7, linux-libc-dev (>= 2.6.22), libtool, iptables-dev
Standards-Version: 3.7.2

Package: untangle-libnfnetlink0
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: libnfnetlink1, libnfnetlink0
Provides: libnfnetlink1, libnfnetlink0
Replaces: libnfnetlink1, libnfnetlink0
Description: Netfilter netlink library
 untangle-libnfnetlink is a lowlevel C library which helps accessing the
 netfilter netlink layer in the kernel.

Package: untangle-libnfnetlink-dev
Architecture: any
Section: libdevel
Depends: untangle-libnfnetlink0 (= ${Source-Version})
Conflicts: libnfnetlink-dev
Provides: libnfnetlink-dev
Replaces: libnfnetlink-dev
Description: Netfilter netlink library
 untangle-libnfnetlink is a lowlevel C library which helps accessing the
 netfilter netlink layer in the kernel.
 .
 This package provides the development files.
