Source: untangle-libnfnetlink
Section: libs
Priority: optional
Maintainer: Max Kellermann <max@duempel.org>
Build-Depends: cdbs (>= 0.4), debhelper (>= 4.2), gcc (>= 3.4)
Standards-Version: 3.6.2

Package: untangle-libnfnetlink0
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: libnfnetlink0
Provides: libnfnetlink0
Replaces: libnfnetlink0
Description: Netfilter netlink library
 untangle-libnfnetlink is a lowlevel C library which helps accessing the
 netfilter netlink layer in the kernel.

Package: untangle-libnfnetlink-dev
Architecture: any
Section: libdevel
Depends: untangle-libnfnetlink0 (= ${Source-Version})
Conflicts: libnfnetlink-dev
Provides: libnfnetlink-dev
Replaces: libnfnetlink-dev
Description: Netfilter netlink library
 untangle-libnfnetlink is a lowlevel C library which helps accessing the
 netfilter netlink layer in the kernel.
 .
 This package provides the development files.
