---    
irc.nick: +NAME+
core.address_prefix: 
- "!"
irc.user: +NAME+
server.name: ob1
auth.password: 
irc.join_channels: 
- "#untangle"
server.sendq_burst: 100
server.sendq_delay: 0.1
server.byterate: 1000000
