Source: untangle-linux-config
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <sdelafond@gmail.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8

Package: untangle-linux-config
Architecture: i386 amd64
Depends: ${misc:Depends}, bash (>= 3.1),
         firmware-linux-free,
         firmware-linux-nonfree,
         grub-pc,
         grub2-common,
         initramfs-tools,
	 linux-image-4.19.0-8-untangle-amd64-unsigned | linux-image-4.19.0-8-untangle-686-unsigned,
         untangle-bootsplash,
         untangle-kernel-modules-buster,
         uuid-runtime
Conflicts: grub-legacy [!armel !armhf], desktop-base
Description: The Untangle kernel config
 The Untangle Linux kernel config package. Provides
 bootsplash support and grub auto-configuration.

