Source: untangle-linux-config
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <seb.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.8.0

Package: untangle-linux-config
Architecture: any
Depends: linux-untangle [!armel !armhf] | untangle-linux-image [!armel !armhf] | linux-virtual-untangle [!armel !armhf], untangle-bootsplash [!armel !armhf], grub-pc [!armel !armhf], grub2-common, initramfs-tools, bash (>= 3.1), uuid-runtime, untangle-kernel-modules-jessie, firmware-linux-free, firmware-linux-nonfree, irqbalance
Conflicts: grub-legacy [!armel !armhf], desktop-base
Description: The Untangle kernel config
 The Untangle Linux kernel config package. Provides
 bootsplash support and grub auto-configuration.
