Source: untangle-libmocha-ruby
Section: interpreters
Priority: optional
Maintainer: Antonio Terceiro <terceiro@softwarelivre.org>
Uploaders: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Build-Depends: cdbs, debhelper (>= 4.2), ruby-pkg-tools
Standards-Version: 3.7.2

Package: untangle-libmocha-ruby
Architecture: all
Depends: untangle-libmocha-ruby1.8
Conflicts: libmocha-ruby
Provides: libmocha-ruby
Replaces: libmocha-ruby
Description: Mocking and stubbing library for Ruby
 Mocking and stubbing library with JMock/SchMock syntax, which allows mocking
 and stubbing of methods on real (non-mock) classes. Mocking and stubbing are
 techiniques used to improve unit testing.
 .
  Homepage: http://mocha.rubyforge.org/
 .
 This is a dummy package depending on the library for the current default
 version of Ruby.

Package: untangle-libmocha-ruby1.8
Architecture: all
Conflicts: libmocha-ruby1.8
Provides: libmocha-ruby1.8
Replaces: libmocha-ruby1.8
Depends: ruby1.8, ${misc:Depends}
Description: Mocking and stubbing library for Ruby
 Mocking and stubbing library with JMock/SchMock syntax, which allows mocking
 and stubbing of methods on real (non-mock) classes. Mocking and stubbing are
 techiniques used to improve unit testing.
 .
  Homepage: http://mocha.rubyforge.org/
