Source: untangle-snort-rules
Section: admin
Priority: optional
Maintainer: John Irwin <jdi@untangle.com>
Uploaders: buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.8.0

Package: untangle-snort-rules
Architecture: all
Description: Current versions of snort rules
 Current versions of snort V2.4 rules.
