Source: untangle-bootsplash
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <seb@untangle.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.8.0

Package: untangle-bootsplash
Architecture: all
Depends: plymouth-drm, v86d | oracle-java7-jdk
Description: The Untangle bootsplash utilities
 The Untangle bootsplash utilities using at boot time.

