Source: untangle-bootsplash
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <sdelafond@gmail.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8

Package: untangle-bootsplash
Architecture: all
Depends: ${misc:Depends}, plymouth-themes, plymouth, v86d | grub-efi-arm64, untangle-hardware-config
Description: The Untangle bootsplash utilities
 The Untangle bootsplash utilities using at boot time.


