Source: untangle-geoip-database
Section: admin
Priority: optional
Maintainer: Michael Hotz <mahotz@untangle.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8

Package: untangle-geoip-database
Architecture: all
Depends: ${misc:Depends}, wget
Description: The Untangle Geography Manager database
 The Untangle Geography Manager database and update script.


