Source: untangle-rails
Section: web
Priority: optional
Maintainer: Sebastien Delafond <seb@untangle.com>
Build-Depends: debhelper (>= 4.0.0), dpatch, rake (>>0.7.0), rdoc1.9.1 | rdoc (>>1.8.2), liberb-ruby
Standards-Version: 3.8.0

Package: untangle-rails
Architecture: all
Depends: ${misc:Depends}, ruby, ruby1.8 (>=1.8.2-3), rake (>>0.7.0), rdoc1.9.1 | rdoc (>>1.8.2), libsqlite3-ruby1.8 | libpgsql-ruby1.8 | libmysql-ruby1.8 | libdbi-ruby1.8, libredcloth-ruby1.8, liberb-ruby, libmocha-ruby1.8
Recommends: irb (>>1.8)
Conflicts: libdevel-logger-ruby1.8, rails
Provides: rails
Replaces: rails
Suggests: libapache2-mod-ruby | libapache-mod-ruby | libapache2-mod-fcgid, libfcgi-ruby1.8
Description: MVC ruby based framework geared for web application development
 Rails is a full-stack, open-source web framework in Ruby for writing
 real-world applications.
 .
 Being a full-stack framework means that all layers are built to work
 seamlessly together. That way you don't repeat yourself and you can
 use a single language from top to bottom. Everything from templates to
 control flow to business logic is written in Ruby.
