@import 'variables';

// import roboto fonts
@import 'vuntangle/roboto-fonts.scss';

.ut-app-bar,
.ut-app-menu {
  background-color: $arista-blue !important;
}

// vertically center chips on v-autocomplete
.v-select--chips--small {
  .v-select__selections {
    padding-top: 9px !important;
  }
}

.arista-loader {
  height: 32px;
  width: 32px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -16px;
  margin-top: -25px;
  color: $aristaMediumBlue;
}

.drawer-content-menu {
  box-shadow: none;
}
$modified-indicator-color: red;

.modified-field.v-input {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 10px solid $modified-indicator-color;
    border-right: 10px solid transparent;
    width: 0;
    height: 0;
    z-index: 10;
  }
}
