[Unit]
Description=Untangle Hardware Config

[Service]
User=root
Type=oneshot
ExecStart=run-parts --lsbsysinit -v /etc/untangle/startup.d

[Install]
WantedBy=multi-user.target
