[Unit]
Description=Untangle Hardware Config

[Service]
Type=oneshot
ExecStart=/bin/run-parts --lsbsysinit -v /etc/untangle/startup.d
RemainAfterExit=true

[Install]
WantedBy=multi-user.target untangle-vm.service
