<% rowId="de-row-#{rand( 0x100000000 )}" %>
<li id="<%= rowId  %>" class="dynamic-entry">
  <div class="first-column mac-address">
    <%= dynamic_entry.mac_address %>
  </div>

  <div class="ip-address">
    <%= dynamic_entry.ip_address %>
  </div>

  <div class="hostname">
    <%= dynamic_entry.hostname %>
  </div>

  <div class="action">
    <%= "Add Static".t %>
  </div>
</li>
