<div class="list-table dhcp-static-entries">
  <ul class="dhcp-static-entry-list" id="static-entry-list-1024">
    <li class="header">
      <div class="mac-address first-column"><%= "MAC Address".t %></div>
      <div class="ip-address"><%= "IP Address".t %></div>
      <div class="description"><%= "Description".t %></div>
      <div class="minus"><%= "Delete".t %></div>
    </li>
    
    <%= render(:partial => "static_entry" , :collection => static_entries ) %>
  </ul>
</div>