<% rowId="se-row-#{rand( 0x100000000 )}" %>
<li id="<%= rowId  %>" class="dynamic-entry">
  <div class="ip-address">
    <%= dynamic_entry.ip_address %>
  </div>
  <div class="hostname">
    <%= dynamic_entry.hostname %>
  </div>
</li>
