<% rowId="se-row-#{rand( 0x100000000 )}" %>
<li id="<%= rowId  %>" class="dynamic-entry">
  <%= hidden_field_tag( "dynamicEntries[]", rowId ) %>
  <div class="de-column-1">
    rbs-macbook
  </div>
  <div class="de-column-2">
    10.0.0.187
  </div>
</li>
