<div class="list-table" id="dns-dynamic-entries">
  <ul id="dns-dynamic-entry-list">
    <li class="header">
      <div class="first-column ip-address"><%= "IP Address".t %></div>
      <div class="hostname"><%= "Hostname".t %></div>
    </li>
    
    <%= render(:partial => "dynamic_entry" , :collection => dynamic_entries ) %>
  </ul>
</div>