<div class="list-table dns-static-entries">
  <ul id="dns-static-entry-list">
    <li class="header">
      <div class="first-column ip-address"><%= "IP Address".t %></div>
      <div class="hostname"><%= "Hostname(s)".t %></div>
      <div class="description"><%= "Description".t %></div>
      <div class="minus"><%= "Delete".t %></div>
    </li>
    
    <%= render(:partial => "static_entry" , :collection => static_entries ) %>
  </ul>
</div>