Source: postgresql-mv
Section: admin
Priority: optional
Maintainer: Dirk Morris <dmorris@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: postgresql-mv
Architecture: any
Provides: postgresql-server-mv
Depends: postgresql
Description: Untangle Postgres wrapper package
 The Untangle Postgres config for Postgres 7.4
