<div class="list-table firewalls">
  <ul id="firewall-list">
    <li class="header">
      <div class="enabled"><%= "Enabled".t %></div>
      <div class="target"><%= "Action".t %></div>
      <div class="description"><%= "Description".t %></div>
      <div class="edit"></div>
      <div class="minus"></div>
    </li>
    
    <%= render( :partial => "firewall", :collection => firewalls ) %>
  </ul>
  
  <%= sortable_element( "firewall-list" ) %> 
</div>
