Source: untangle-apache2-config
Section: admin
Priority: optional
Maintainer: Aaron Read <amread@untangle.com>
Build-Depends: debhelper (>> 3.0.0), sun-java6-jdk | sun-java5-jdk
Standards-Version: 3.8.0

Package: untangle-apache2-config
Architecture: all
Depends: apache2, untangle-apache2-common,libapache2-mod-jk, libapache2-mod-python, python-psycopg
Description: The Untangle Apache2 config
 The Untangle Apache2 config.
