Source: untangle-kernel-modules-jessie-armhf
Section: admin
Priority: standard
Maintainer: Sebastien Delafond <seb@untangle.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.8.0

Package: untangle-kernel-modules-jessie-armhf
Architecture: armhf
Conflicts: libsnmp15, untangle-linux-image-3.18-linksys-wrt1900acs
Provides: untangle-kernel-modules-jessie, untangle-linux-image-3.18-linksys-wrt1900acs
Replaces: untangle-linux-image-3.18-linksys-wrt1900acs
Pre-Depends: untangle-debconf-manager
Description: The Untangle kernel modules for armhf
 The Untangle kernel modules for armhf.

