Source: untangle-squeeze-upgrade
Section: admin
Priority: standard
Maintainer: Sebastien Delafond <seb.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.8.0

Package: untangle-squeeze-upgrade
Architecture: all
Depends: grub-legacy, postgresql (> 8.4), postgresql-8.4, grub-common (> 1.98)
Conflicts: aptitude, grub, libc6-i686, libkrb53, postgresql-8.3, python2.5, python2.5-minimal, tasksel, tasksel-data, xserver-xorg-video-cyrix, xserver-xorg-video-nsc

Description: Untangle helper package to facilitate dist-upgrading to squeeze
 The Untangle helper package to facilitate dist-upgrading to squeeze
