<% form_tag( :action => 'save' ) do -%>

  <h1><%= "Please select your locale".t %></h1>

  <div class="text-fields">
    <p>
      <label for="locale"><%= "Language:".t %></label>
      <%= select_tag( "locale", options_for_select( @localeArray, @settings.key )) %>
    </p>
  </div>
  
  <%= submit_tag "Cancel".t %>
  <%= submit_tag "Save Changes".t %>
<% end %>
  