Source: untangle-hardware-ec2-byol
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <sdelafond@gmail.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: systemd, debhelper (>= 10)
Standards-Version: 3.9.8

Package: untangle-hardware-ec2-byol
Architecture: all
Depends: ${misc:Depends}, systemd, untangle-hardware-config, untangle-linux-config, untangle-suricata-config, untangle-system-config
Provides: untangle-hardware-amazon-ec2
Conflicts: untangle-hardware-amazon-ec2
Replaces: untangle-hardware-amazon-ec2
Description: The Untangle Amazon EC2 config
 Configuration specific to Amazon EC2.

