Source: untangle-hardware-ec2-byol
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <sdelafond@gmail.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: systemd, debhelper (>= 10)
Standards-Version: 3.9.8

Package: untangle-hardware-ec2-byol
Architecture: all
Depends: ${misc:Depends}, untangle-cloud-config
Description: The Untangle Amazon EC2 BYOL config
 Configuration specific to Amazon EC2 BYOL.

