Source: untangle-hardware-amazon-ec2
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <seb@untangle.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.8.0

Package: untangle-hardware-amazon-ec2
Architecture: all
Depends: untangle-firmware-common
Description: The Untangle Amazon EC2 config
 Configuration specific to Amazon EC2.

