#!/usr/bin/make -f

include /usr/share/dpatch/dpatch.make

PACKAGE=$(shell dh_listpackages)
DESTDIR=$(CURDIR)/debian/$(PACKAGE)

clean: unpatch
	dh_testdir
	dh_testroot

	rm -f build-stamp install-stamp
	dh_clean

build: build-stamp
build-stamp: patch

install: install-stamp
install-stamp: build-stamp
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	install -m755 FuzzyOcr.pm $(DESTDIR)/usr/share/untangle-fuzzyocr
	install -m644 FuzzyOcr.cf $(DESTDIR)/usr/share/untangle-fuzzyocr
	install -m644 FuzzyOcr.words.sample $(DESTDIR)/usr/share/untangle-fuzzyocr/FuzzyOcr.words
	cp -r samples $(DESTDIR)/usr/share/doc/$(PACKAGE)/

	/usr/bin/find $(DESTDIR) -depth -name .svn -exec rm -fr "{}" \;

	touch install-stamp

binary-indep: install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installchangelogs
	dh_compress
	dh_fixperms
	dh_installdeb
	if [[ -f debian/version ]] ; then dh_gencontrol -- -v"`cat debian/version`" ; else dh_gencontrol ; fi
	dh_md5sums
	dh_builddeb

source diff:                                                                  
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-indep binary-arch
.PHONY: clean binary-indep binary-arch binary install patch unpatch

