build
.coverage
.eggs
.pybuild
*.egg-info
debian/*stamp
debian/untangle-python3-support-diagnostics/
.built
.built_check
.configured_*
.prepared
.quilt_checked
.source_dir
.pkgdir/
ipkg-install/
ipkg-x86_64/
