Source: spamc-mv
Section: admin
Priority: optional
Maintainer: Dirk Morris <dmorris@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: spamc-mv
Architecture: any
Depends: spamassassin (>= 3.1.7-2~ut.1), libnet-dns-perl, libmail-spf-query-perl, libnet-ident-perl, razor, libsys-hostname-long-perl, fuzzyocr-ut
Description: The Untangle spamc utils
 The Untangle SpamAssassin configuration utilities.
