Source: spamc-mv
Section: admin
Priority: optional
Maintainer: Dirk Morris <dmorris@metavize.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: spamc-mv
Architecture: any
Depends: spamassassin, spamc, libnet-dns-perl, libmail-spf-query-perl, libnet-ident-perl, razor
Description: The Metavize EdgeGuard spamc utils
 The Metavize EdgeGuard spamc mode utilities
