Source: untangle-pyconnector
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <sdelafond@gmail.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: systemd, debhelper (>= 10)
Standards-Version: 3.9.8

Package: untangle-pyconnector
Architecture: all
Depends: ${misc:Depends}, systemd, python3, systemd-sysv
Breaks: untangle-vm (<< 14.0.0.20180307T1008050800.9066580463-1stretch)
Replaces: untangle-vm (<< 14.0.0.20180307T1008050800.9066580463-1stretch)
Description: The Untangle PyConnector
 Connector for the Untangle Cloud 
