[Unit]
Description=Untangle PyConnector

[Service]
Type=Simple
EnvironmentFile=-/etc/default/untangle-pyconnector
ExecStart=/usr/bin/pyconnector ${OPTIONS}
Restart=always

[Install]
WantedBy=multi-user.target
