#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 by Joey Hess.
#
# This version is for a hypothetical package that builds an
# architecture-dependant package, as well as an architecture-independent
# package.

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

# This is the debhelper compatibility version to use.

MKDIR=/bin/mkdir -p

ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -g
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build: configure
	dh_testdir
	rm -rf ./debian/tmp
	mkdir -p ./debian/tmp
	dh_installdirs -A -v
	for i in `cat debian/untangle-restore-tools.dirs` ; do mkdir -p debian/tmp/$$i ; done
	cp -r ./files/* ./debian/tmp/
	find ./debian/tmp -name .svn -type d | xargs rm -fr
# conf dir now exists
	cd canonical && tar zcf  ../debian/tmp/usr/share/untangle/conf/canonical.tar.gz --exclude '.svn' *

clean:
	dh_testdir
	dh_testroot
	rm -f build-arch-stamp build-indep-stamp configure-stamp
	rm -rf debian/tmp debian/untangle-restore-tools sav-install
	dh_clean

binary-arch: build
	dh_testdir
	dh_testroot
	dh_movefiles
#	dh_installdebconf
	dh_shlibdeps
	dh_installdocs
#	dh_installexamples
#	dh_installmenu
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
	dh_installinit
#	dh_installcron
#	dh_installman
#	dh_installinfo
#	dh_undocumented
	dh_installchangelogs
#	dh_strip
#	dh_link
	dh_compress
#	dh_fixperms
	dh_installdeb
#	dh_perl
#	echo "`cat debian/version`"
	if [[ -f debian/version ]] ; then dh_gencontrol -- -v"`cat debian/version`" ; else dh_gencontrol ; fi
	dh_md5sums

binary-indep: build
# nothing to do

binary: binary-indep binary-arch
	dh_builddeb

.PHONY: build clean binary-indep binary install configure
