Source: untangle-vendor-vendor1
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <sdelafond@gmail.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: systemd, debhelper (>= 10)
Standards-Version: 3.9.8

Package: untangle-vendor-vendor1
Architecture: all
Depends: ${misc:Depends}, tuned
Conflicts:
  chromium,
  chromium-common,
  chromium-driver,
  fonts-hanazono,
  libavcodec58,
  libavformat58,
  libavutil56,
  libchromaprint1,
  libexo-1-0,
  libexo-2-0,
  libgarcon-1-0,
  libgl1,
  libgl1-mesa-dri,
  libglu1-mesa,
  libglx-mesa0,
  libglx0,
  libgstreamer-gl1.0-0,
  libgstreamer-plugins-base1.0-0,
  libgstreamer1.0-0,
  libswresample3,
  libwebkit2gtk-4.0-37,
  libx264-155,
  libx265-165,
  libxatracker2,
  libxfce4ui-1-0,
  libxfce4ui-2-0,
  libxfce4ui-common,
  libxfce4util-common,
  libxfce4util7,
  libxfconf-0-2,
  ncurses-term,
  openjdk-17-jre,
  rxvt-unicode,
  rxvt-unicode-ml,
  untangle-app-ad-blocker,
  untangle-app-application-control,
  untangle-app-application-control-lite,
  untangle-app-bandwidth-control,
  untangle-app-captive-portal,
  untangle-app-configuration-backup,
  untangle-app-directory-connector,
  untangle-app-ipsec-vpn,
  untangle-app-live-support,
  untangle-app-openvpn,
  untangle-app-phish-blocker,
  untangle-app-router,
  untangle-app-tunnel-vpn,
  untangle-app-virus-blocker-lite,
  untangle-app-wan-balancer,
  untangle-app-wan-failover,
  untangle-client-local,
  untangle-gateway,
  untangle-kiosk,
  x11-apps,
  x11-session-utils,
  x11-utils,
  x11-xserver-utils,
  xauth,
  xbitmaps,
  xdg-utils,
  xfce4-session,
  xfce4-settings,
  xfconf,
  xfonts-100dpi,
  xfonts-75dpi,
  xfonts-base,
  xfonts-encodings,
  xfonts-scalable,
  xfonts-utils,
  xfwm4,
  xinit,
  xorg,
  xorg-docs-core,
  xserver-common,
  xserver-xorg,
  xserver-xorg-core,
  xserver-xorg-input-all,
  xserver-xorg-input-libinput,
  xserver-xorg-legacy,
  xserver-xorg-video-all,
  xserver-xorg-video-amdgpu,
  xserver-xorg-video-ati,
  xserver-xorg-video-fbdev,
  xserver-xorg-video-nouveau,
  xserver-xorg-video-radeon,
  xserver-xorg-video-vesa,
  xserver-xorg-video-vmware,
  xterm,
  xvfb,
  zenity,
  zenity-common
Description: The Untangle vendor config for vendor1
 Provides all the additions required for vendor1, mostly in the
 postinst but also in the dependencies themselves.
