Source: untangle-nas
Section: premium/admin
Priority: optional
Maintainer: John Irwin <jdi@untangle.com>
Build-Depends: debhelper (>> 3.0.0), libc6 (>= 2.3.2), perl
#BuildPrereq: pam-devel >= 0.73, newt-devel, glib2-devel, python, python-deve
Standards-Version: 3.7.2

Package: untangle-nas
Architecture: all
#In Debian
Depends: untangle-vm, untangle-apache2-config, untangle-net-alpaca, untangle-ldap-server, parted (> 6.1), mdadm (> 6.1), lvm2 (> 6.1), quota (> 6.1), apache2 (>= 2.0.46), samba (> 6.1), php5-auth-pam (>= 0.4), libapache2-mod-suphp, php5-gmp, php5 (>= 4.3.2), php5-cli, at (>= 3.1.8), acl (>= 2.2.3), initscripts, sysvinit (>= 2.85), sysv-rc, perl, coreutils (>= 4.5.3), mount (>= 2.11y), sudo (>= 1.6), nfs-common (>= 1.0.6), nfs-kernel-server, ntp (>= 4.1.2), util-linux (>= 2.11y), passwd (>= 0.68), libpam-ldap, libnss-ldapd, xfsprogs, scsitools, proftpd-basic, winbind, krb5-user, e2fsprogs, libapache2-mod-auth-pam (>= 1.1.1), libapache2-mod-auth-sys-group, open-iscsi, iscsitarget, uuid-runtime
#Still need?:
# libpam-krb5
#Deprecated:
#  ifenslave-2.6, nis (>= 2.8)
Description: The Untangle NAS
 Untangle NAS provides easy to configure, powerful network attached storage on
 the Untangle Platform.
