<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= (( @title.nil? ) ? ApplicationController::DefaultTitle : @title ).t %></title>
    <%= javascript_include_tag :defaults %>
    <%= stylesheet_link_tag "borax" %>
    <%= stylesheet_link_tag "borax-ip-network" %>
    <%= stylesheet_link_tag "borax-nat-policy" %>
    <%= stylesheet_link_tag "borax-file-override" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
