Source: untangle-system-config
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <sdelafond@gmail.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: systemd, debhelper (>= 10)
Standards-Version: 3.9.8

Package: untangle-system-config
Architecture: all
Depends: ${misc:Depends}, systemd, debconf, irqbalance, ssh, ca-certificates
Description: The Untangle system config
 The Untangle system configurator.  Top level configurations not belonging in
 a more specific configurator are here.  Also if this package is present at
 first Untangle boot, auto-upgrade will default to on.

