<div id="main-content-footer">
	<div id="footer-buttons">
  <div id="help-footer">
    <%= submit_tag "Help".t %>
  </div>
  <div id="action-footer">
    <%= submit_tag "Cancel".t %>
    <%= submit_tag "Save".t %>
  </div>
</div>
</div>