<div id="main-content-footer">
  <div id="footer-buttons">
    <div id="help-footer">
      <%= submit_tag "Help".t %>
    </div>
    <div id="action-footer">
      <% if actionable %>
        <%= submit_tag "Cancel".t %>
        <%= submit_tag "Save".t %>
      <% end %>
    </div>
  </div>
</div>