Source: untangle-cli-server
Section: admin
Priority: optional
Maintainer: Ken Hilton <ken@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.8.0

Package: untangle-cli-server
Architecture: all
Description: The Untangle CLI server
 The Untangle Command-Line-Interface server.
