html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}img,body,html{border:0;}
body{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
}  

body.quarantine {
    /*background: transparent url(../images/user/background_content.png) repeat-x !important;*/
}

#content
{
  padding: 17px 12px 12px 12px;
}

body.blockpage
{ 
  text-align: center;
  background-color: #808080;
 }
body.quarantine #content {
	width:75%;
    background: transparent url(../images/user/background_content.png) repeat-x !important;
	border:1px solid #CCC;
    margin:0 auto;
	margin-top:50px;
	
}
.service-error-height{
	height:400px;
}
body.blockpage #content
{
  width : 627px;
  height: 505px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border : 1px solid #FFFFFF;
  margin-top: 30px;
  margin-bottom: 30px;
  background: transparent url(../images/user/background_content.png) repeat-x !important;
}

body.blockpage
{ 
  font-family: arial, tahoma, helvetica, sans-serif;
  font-size: 10pt;
 }


body.blockpage .description
{ 
  margin-bottom: 30px;
 }


body.blockpage p.contact
{ 
  position: absolute;
  bottom: 15px;
  left: 20px;
  font-size: 8pt;
 }

#header {
	margin-bottom: 0px;
}

body.quarantine #header
{ 
  width: 100%;
  margin-bottom:10px;
  }

body.quarantine #header .title
{
  position: absolute;
  top: 30px;
  font-weight:bold;
  right: 1px;
  text-align: right;
  color:#333;
  font-size:14pt;
}

.title-block-page {
	padding-left: 30px;
	vertical-align: bottom;
	text-align: left;
	font: bold 36px arial, tahoma, helvetica, sans-serif;
	color: #67686B;
}
.icon-block {
    background:transparent url(../images/user/icon_block.png) no-repeat center center;
    height: 130px;
}
.message,.message-2 {
    padding: 5px 5px 5px 28px;
    border: 1px solid #60BB3F;
    font-size: 8pt;
    background: #FEFEDD url(../images/user/icon_message.png) no-repeat scroll 7px center !important;
    color:#333;
}
.message-2{
	display:block;
	margin-bottom:10px;
}
.message-container{
	 padding:2px;
}
.white-background{
	background-color:#FFF;
	background-image:none;
}
.quarantine-left-indented-2{
	margin-left:8.8em;
}
.quarantine-left-indented{
	margin-left:20px;
}
.quarantine-received-messages-grid{
	margin:7px 0px 0px 20px;
	width:500px;
}
.safelist-grid{
	width:50%;
}
/*
.safelist-grid, .quarantine-grid{
	margin-top:20px;
}
*/
.quarantine-label{
	font-size:9pt;
	margin:20px 0px 0px 10px;
}
.quarantine-received-messages{
	margin-top:50px;
}
.quarantine-change-address{	
	display:inline;
	margin:0px 0px 0px 10px;
	position:relative;
	top:7px;
}

.quarantine-attachment-header
{ 
  background: transparent url(../images/user/icon_attach.png) no-repeat center center;
  height : 16px;
  }

.description {
    font-size: larger;
}

body.blockpage #main
{
  position : absolute;
  left: 15px;
  top: 130px;
  width: 620px;
  height: 380px;
  text-align: center;
  /* This is to place this above the border */
  z-index: 100;
}

body.blockpage #extraDiv1
{ 
  position : absolute;
  left: 15px;
  top: 130px;
  width: 620px;
  height: 380px;
  background: transparent url(../images/user/blockpage_border.gif) no-repeat;
 }

body.blockpage #extraDiv2
{ 
  position : absolute;
  left: 15px;
  bottom: 20px;
  width: 620px;
  height: 12px;
  background: transparent url(../images/user/blockpage_border_bottom.gif) no-repeat;
 }


#header
{ 
  position : relative;
 }

body.blockpage #header .title
{ 
  position : absolute;
  left : 180px;
  bottom : 0px;
  font: bold 36px arial, tahoma, helvetica, sans-serif;
  color: #67686B;
 }

.info-list {
	margin-top: 10px;
	margin-bottom: 20px;
    width:340px;
    margin-left:auto;
    margin-right:auto;
    text-align: left;
    background-color: #FFFFFF;
}
.info-list div{
    padding:5px 5px 5px 5px;
}

body.blockpage #footer
{
  font-size: small;
  text-align: right;
  position : absolute;
  left: 490px;
  top: 520px;
  display: none;
}

.action-messages
{ 
  width : 300px;
  position:absolute;
  top:93px;
  left:40%;
  text-align:center;
  font-weight:bold;
 }
 /* Button icons*/
 button.iconMoveMails {
    background: transparent url(../images/user/icon_email_move.png) no-repeat center left !important;
}
button.iconAddRow {
    background: transparent url(../images/admin/icon_add_row.gif) no-repeat center left !important;
}
 button.iconSafeList{
    background: transparent url(../images/user/icon_safelist.png) no-repeat center left !important;
}
button.iconDeleteRow{
	background:transparent url(../images/user/icon_remove.png) no-repeat center left !important;
}
 /* Ext Js Overrides - across the board */
.x-grid3-hd-inner{
	text-transform:capitalize;
}
.x-fieldset{
	padding:5px 10px 10px 20px;
	border:none;
}
.x-fieldset-bwrap{
	padding-bottom:5px;
	border-bottom:1px #d0d0d0 dotted;
}
.x-fieldset legend{
	margin-left:-15px;
	color:#111;
	font-size:12px;
}