Source: untangle-ntpdate-config
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <seb@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.7.2

Package: untangle-ntpdate-config
Architecture: any
Depends: ntpdate
Description: The Untangle clamav utils
 The Untangle clamav utilities.
