Source: untangle-libnet-ssh-ruby
Section: interpreters
Priority: optional
Maintainer: Tatsuki Sugiura <sugi@nemui.org>
Build-Depends: debhelper (>= 4.0.0)
Build-Depends-Indep: ruby1.8
Standards-Version: 3.7.2

Package: untangle-libnet-ssh-ruby1.8
Architecture: all
Provides: libnet-ssh-ruby, libnet-ssh-ruby1.8
Conflicts: libnet-ssh-ruby1.8
Replaces: libnet-ssh-ruby1.8
Depends: libopenssl-ruby1.8 (>= 1.8.1+1.8.2pre1-1), libneedle-ruby1.8 (>= 1.3.0)
Description: pure ruby module that emulates an SSH client
 Net::SSH is to SSH as Net::Telnet is to Telnet and Net::HTTP is to HTTP.
 Perform non-interactive SSH processing, purely from Ruby!

