Source: untangle-kernel-modules-amd64
Section: admin
Priority: standard
Maintainer: Sebastien Delafond <seb@untangle.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.8.0

Package: untangle-kernel-modules-amd64
Architecture: amd64
Conflicts: untangle-nic-kernel
Provides: untangle-nic-kernel
Replaces: untangle-nic-kernel
Depends: linux-image-2.6.26-2-untangle-amd64 (>= 2.6.26-22untangle4) | linux-image-2.6.26-2-untangle+xen-amd64 (>= 2.6.26-22untangle4), firmware-bnx2, firmware-bnx2x, e1000-module-2.6.26-2-untangle-amd64 (>= 8.0.19+untangle5-1lenny+2.6.26-22untangle4), e1000e-module (>= 1.2.20+untangle1-1lenny+2.6.26-22untangle4), igb-module-2.6.26-2-untangle-amd64 (>= 8.0.19+untangle5-1lenny+2.6.26-22untangle4), ipset-modules-2.6.26-2-untangle-amd64 (>= 9.0.0~svn20100608r26852main-1lenny+2.6.26-22untangle4), niagara22xxed-module-2.6.26-2-untangle-amd64 (>= 0.2+untangle5-1lenny+2.6.26-22untangle4), tg3-module-2.6.26-2-untangle-amd64 (>= 3.105-1lenny+2.6.26-22untangle4), bnx2-module-2.6.26-2-untangle-amd64 (>= 1:1.8.12g+untangle4-1lenny+2.6.26-22untangle4), ipset, niagara22xxed
Pre-Depends: untangle-debconf-manager
Description: The Untangle appliance internal
 The Untangle appliance internal-to-untangle mode.
