Source: untangle-kernel-modules-amd64
Section: admin
Priority: standard
Maintainer: Sebastien Delafond <seb@untangle.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.8.0

Package: untangle-kernel-modules-amd64
Architecture: amd64
Conflicts: untangle-nic-kernel
Provides: untangle-nic-kernel
Replaces: untangle-nic-kernel
Depends: linux-image-2.6.26-2-untangle-amd64 (>= 2.6.26-22untangle2) | linux-image-2.6.26-2-untangle+xen-amd64, firmware-bnx2, firmware-bnx2x, e1000-kernel, e1000e-kernel, igb-kernel, ipset-kernel, niagara22xxed-kernel, tg3-kernel, bnx2-kernel, ipset, niagara22xxed
Pre-Depends: untangle-debconf-manager
Description: The Untangle appliance internal
 The Untangle appliance internal-to-untangle mode.
