Source: untangle-iptables
Section: net
Priority: important
Maintainer: Robert Scott <rbscott@untangle.com>
Build-Depends: debhelper (>>4.0), linuxdoc-tools, html2text, bzip2, linux-headers-untangle, libc6-dev, bash
Standards-Version: 3.7.2

Package: untangle-iptables
Architecture: any
Priority: important
Section: net
Depends: ${shlibs:Depends}
Provides: iptables
Conflicts: iptables
Replaces: iptables
Description: Linux kernel 2.4+ untangle-iptables administration tools
 netfilter and untangle-iptables provide a Linux kernel framework for
 stateful and stateless packet filtering, network and port addresss
 translation, and other IP packet manipulation. The framework is the
 successor to ipchains.
 .
 netfilter and untangle-iptables are used in applications such as Internet
 connection sharing, firewalls, IP accounting, transparent proxying,
 advanced routing and traffic control.
 .
 untangle-iptables web site: http://www.untangle-iptables.org/

Package: untangle-iptables-dev
Architecture: any
Priority: optional
Depends: untangle-iptables, ${shlibs:Depends}
Section: devel
Provides: iptables-dev
Conflicts: iptables-dev
Replaces: iptables-dev
Description: development files for iptable's libipq and libiptc
 Header files, static libs and documentation for libipq (untangle-iptables 
 user-space packet queuing library) and libiptc.
