Source: untangle-development
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <seb@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.7.2

Package: untangle-development
Architecture: any
Conflicts: dev-mv
Provides: dev-mv
Replaces: dev-mv
Depends: sun-java5-jdk, sudo, pump-mv, libxml2, libxml2-dev, fakeroot, debhelper, make, module-assistant, libterm-size-perl, libterm-readkey-perl, subversion, subversion-tools, iptables (>= 1.2.11-10-mv1), iptables-dev (>= 1.2.11-10-mv1), libnfnetlink0, libnfnetlink-dev, libnetfilter-queue0, libnetfilter-queue-dev, gcc, libc6-dev, linux-kernel-headers, bridge-utils, postgresql-mv, tcpdump, netcat, libsysfs-dev, g++, devscripts, untangle-clamav-config, spamc-mv, snmpd, snmp, snort-rules-current, openvpn, nsis, nsis-mv, sysutils, zip, global, nxml-mode, aspell, sg3-utils, libxml2-utils, dnsmasq, ddclient, bzip2, ntp-simple, slapd (>= 2.2.23-mv1), ldap-utils (>= 2.2.23-mv1), db4.2-util, ujac-to-pdf, ebtables, dput, rake (>= 0.7.1-1), libncurses-dev, dput, lintian
Description: Untangle Dev Env Package
 The Untangle Development Environment Package.
