body {
    margin: 0;
    padding: 0 15px;
    /*background: #fff url(/images/background_body.gif) repeat-x top left;*/
    text-align: center;
}
table, div, span {
    font: 10pt/14pt arial,sans-serif;
    text-align: left;
    color: #606060;
}
.banner {
    color:white;
    min-width: 200px;
    width: 90%;
    margin: 0 auto;
}
input {
    font: 10pt/14pt arial,sans-serif;
    text-align: left;
    color: #606060;
}
form {
    margin: 0;
}
a:link, a:visited {
	    font: 10pt/14pt arial,sans-serif;
	    color: #1997FE;
	    text-decoration: none;
	}
a:hover {
    color: #1997FE;
    text-decoration: underline;
}
h1 {
    font: normal 11pt arial,sans-serif;
    color: #999;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}
h2 {
    font: normal 10pt arial,sans-serif;
    color: #999;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}
h3 {
    font: normal 11pt arial,sans-serif;
    color: #606060;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}
h4 {
    font: normal 14pt arial,sans-serif;
    color: #0044D7;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}
img {
    border: 0;
}
hr {
    height: 1px;
    color: #969696;
    background-color: #969696;
    margin: 0; padding: 0;
    clear: both;
}
p {
    margin-bottom: 4px;
}

.loginPage {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #fff url(/images/background_body.gif) repeat-x top left;
}

.form-signin {
    width: 380px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background:#585858 url(/images/background_login_box.png) no-repeat top left;
    background-size: cover;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.form-signin-heading {
    font-size: 18px;
    font-weight: bold;
    color: #efefef;
}

.input-block-level {
    display: block;
    margin-bottom: 2px;
}

.main-mid {
    margin: 0 23px;
    padding: 0 2px;
    text-align: left;
    overflow: hidden;
}

.main-reduced {
    width: 500px;
    margin: 50px auto 0 auto;
}
.main-reduced a b {
    line-height: 30px;
}
.page_head {
    height: 110px;
}
.page_head a {
    float: left;
    clear: none;
}
.page_head div {
    float: left;
    clear: right;
    vertical-align: middle;
    font: bold 25pt arial,sans-serif;
    color: #777;
    padding: 30px 0;
    margin-left: 14px;
}
.page_sub_title {
    font: bold 17pt arial,sans-serif;
    color: #777;
}
.page_sub_text {
    font: bold 14pt arial,sans-serif;
    color: #777;
}
.java-download {
    text-align: right;
    font-style: italic;
    font-size: 12px;
    margin-top: 30px;

}



.ad_logon_head {
    height: 110px;
    overflow: hidden;
}
.ad_logon_head a {
    float: left;
    clear: none;
}
.ad_logon_head div {
    float: left;
    clear: none;
    vertical-align: middle;
    font: bold 25pt Arial,Sans-Serif;
    color: #000;
    line-height: 100px;
    margin-left: 14px;
}
.ad_logon_sub_title {
    font: bold 17pt Arial,Sans-Serif;
    color: #000;
}
.ad_logon_sub_text {
    font: 10pt Arial,sans-serif;
    color: #000;
}



/* new auth styling */

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf'); /*URL to font*/
}

.form-login h2, .form-login p {
    font-family: 'Roboto', sans-serif;
}

header {
    background: #585858;
    padding: 15px 0;
    max-width: 360px;
    margin: 0 auto;
    border-radius: 0 0 8px 8px;
    text-align: center;
}

header img {
    max-width: 340px;
}

.form-login h2 {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px #CCC solid;
    padding-bottom: 10px;
    margin-bottom: 0;
    color: #555;
}

.form-login p.server {
    padding: 8px 2px;
    margin: 0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-login p.server {
    font-weight: 600;
    font-size: 14px;
    font-style: italic;
    color: #999;
}

.form-login {
    max-width: 360px;
    margin: 20px auto 20px;
    background: #DDD;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 25px;
    box-sizing: border-box;
}




.form-login input {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    display: block;
    padding: 8px 12px 8px 36px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.form-login input:focus {
    border-color: #16325b;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(22,50,91,.8);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(22,50,91,.8);
}

input#username {
    background: #FFF url(auth_icons.png) no-repeat 5px 0;
}
input#username:focus {
    background-position: 5px -36px;
}

input#password {
    background: #FFF url(auth_icons.png) no-repeat 5px -72px;
}
input#password:focus {
    background-position: 5px -108px;
}

input#totp {
    background: #FFF url(auth_icons.png) no-repeat 5px -144px;
}
input#totp:focus {
    background-position: 5px -180px;
}

.form-login button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    display: inline-block;
    padding: 8px 12px;
    width: 100%;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    background-color: #16325b;
    color: #FFF;
    transition: all ease-in-out .15s;
}

.form-login button:hover {
    background-color: rgba(22,50,91,.8);
}
.form-login button:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.2);
}

.form-login div.banner p {
    font-size: 14px;
    color: #777;
    text-align: center;
    background-color: #CCC;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 10px 0 25px 0;
}

.form-login p.error {
    font-size: 12px;
    color: red;
    text-align: center;
    margin-bottom: 10px;
}



@media (max-width: 360px) {
    header {
        padding: 5px 0;
    }
    header img {
        height: 60px;
    }
    .form-login {
        padding: 15px;
    }
}

