Source: untangle-libdaemons-ruby
Section: interpreters
Priority: optional
Maintainer: Robert Scott <rbscott@untangle.com>
Uploaders: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>, Paul van Tilburg <paulvt@debian.org>
Build-Depends: debhelper (>= 4.2), cdbs, ruby-pkg-tools (>= 0.8), ruby, ruby1.8-dev
Standards-Version: 3.7.2

Package: untangle-libdaemons-ruby
Architecture: all
Depends: untangle-libdaemons-ruby1.8
Conflicts: libdaemons-ruby
Provides: libdaemons-ruby
Replaces: libdaemons-ruby
Description: Ruby daemons library
 Daemons provides an easy way to wrap existing ruby scripts (for example
 a self-written server) to be run as a daemon and to be controlled by
 simple start/stop/restart commands.  daemons can also run and control
 blocks of Ruby code in a daemon process.
 .
 This is a dependency package which depends on Debian's default Ruby
 version (currently 1.8.x).

Package: untangle-libdaemons-ruby1.8
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: libdaemons-ruby1.8, libdaemonize-ruby1.8
Provides: libdaemons-ruby1.8
Replaces: libdaemons-ruby1.8
Description: Ruby daemons library
 Daemons provides an easy way to wrap existing ruby scripts (for example
 a self-written server) to be run as a daemon and to be controlled by
 simple start/stop/restart commands.  daemons can also run and control
 blocks of Ruby code in a daemon process.
 .
 This package is built for Ruby 1.8.
