Source: untangle-libnetfilter-conntrack
Section: libs
Priority: optional
Maintainer: netfilter maintainers <netfilter-maintainers@ned.snow-crash.org>
Uploaders: Max Kellermann <max@duempel.org>, Alexander Wirt <formorer@debian.org>
Build-Depends: debhelper (>= 4.2), untangle-libnfnetlink-dev (>= 0.0.30), gcc (>= 3.4), automake1.7, linux-kernel-headers (>= 2.6.17)
Standards-Version: 3.7.2

Package: untangle-libnetfilter-conntrack1
Architecture: any
Depends: libc6 (>= 2.3.2.ds1-21), untangle-libnfnetlink0 (>= 0.0.30)
Conflicts: libnetfilter-conntrack1
Provides: libnetfilter-conntrack1
Replaces: libnetfilter-conntrack1
Description: Netfilter netlink-conntrack library
 libnetfilter_conntrack is a userspace library providing a programming
 interface (API) to the in-kernel connection tracking state table.

Package: untangle-libnetfilter-conntrack-dev
Section: libdevel
Architecture: any
Depends: libc6 (>= 2.3.2.ds1-21), untangle-libnfnetlink0 (>= 0.0.30), pkg-config,
 untangle-libnetfilter-conntrack1 (= ${Source-Version}),
 untangle-libnfnetlink-dev (>= 0.0.30)
Description: Development files for untangle-libnetfilter-conntrack1
 libnetfilter_conntrack is a userspace library providing a programming
 interface (API) to the in-kernel connection tracking state table.
 .
 This package provides development files and static libraries.
