Source: untangle-spamassassin-update
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <sdelafond@gmail.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: systemd, debhelper (>> 3.0.0)
Standards-Version: 3.8.0

Package: untangle-spamassassin-update
Architecture: all
Depends: systemd, spamassassin (>= 3.1.7), libnet-dns-perl, libmailtools-perl, libhtml-format-perl, libwww-perl, libarchive-tar-perl, libio-zlib-perl, libmail-spf-perl, libnet-ident-perl, razor, libsys-hostname-long-perl, libhtml-parser-perl,  libdigest-sha-perl, re2c, adduser, untangle-hardware-config
Conflicts: fuzzyocr
Recommends: libsys-syslog-perl, libmail-dkim-perl
Description: The Untangle Spamassassin update utilities
 The Untangle Spamassassin update utilities maintain up-to-date spam signatures.

