Source: untangle-softflowd-config
Section: admin
Priority: optional
Maintainer: Dirk Morris <dmorris@untangle.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: systemd, debhelper (>> 3.0.0)
Standards-Version: 3.8.0

Package: untangle-softflowd-config
Architecture: all
Depends: systemd, softflowd
Description: Untangle softflowd wrapper package
 The Untangle softflowd autoconfigurator

