Source: untangle-softflowd-config
Section: admin
Priority: optional
Maintainer: Dirk Morris <dmorris@untangle.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: systemd, debhelper (>= 10)
Standards-Version: 3.9.8

Package: untangle-softflowd-config
Architecture: all
Depends: ${misc:Depends}, systemd, softflowd
Description: Untangle softflowd wrapper package
 The Untangle softflowd autoconfigurator

