Source: untangle-debconf-manager
Section: admin
Priority: standard
Maintainer: Sebastien Delafond <sdelafond@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8

Package: untangle-debconf-manager
Architecture: all
Pre-Depends: python3
Description: Untangle Debconf Manager
 The Untangle Manager for the debconf database.
 .
 This is a dependency package.
