Source: untangle-hardware-caswell-q8
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <sdelafond@gmail.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: systemd, debhelper (>= 10)
Standards-Version: 3.9.8

Package: untangle-hardware-caswell-q8
Architecture: all
Depends: ${misc:Depends}, systemd, firmware-atheros, untangle-hardware-config, untangle-hardware-caswell-driver-gpio-nuvoton
Description: The Untangle Caswell Q8 package
 This package installs the hardware specific features
 required on the Caswell Q8 appliances.
