Source: untangle-netd
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <seb.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.8.0

Package: untangle-netd
Architecture: all
Depends: bridge-utils,
         crda,
         dash,
         dhcp3-client | isc-dhcp-client,
         ifupdown,
         firmware-iwlwifi,
         firmware-realtek,
         hostapd,
         iptables,
         iputils-arping,
         iw,
         keepalived,
         libnetfilter-queue1 (>= 1.0.2+20141023+git329468+11.1),
         libnfnetlink0 (>= 1.0.1),
         ndisc6,
         psmisc,
         radvd,
         vlan,
         wireless-regdb,
         wireless-tools
Description: The Untangle network daemon
 The Untangle network daemon for managing the network
