#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 by Joey Hess.
#
# This version is for a hypothetical package that builds an
# architecture-dependant package, as well as an architecture-independent
# package.

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

# This is the debhelper compatibility version to use.

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build: configure
	dh_testdir
	rm -rf ./debian/tmp
	mkdir -p ./debian/tmp
	dh_installdirs -A -v
	for i in `cat debian/untangle-netd.dirs` ; do mkdir -p debian/tmp/$$i ; done
	cp -r ./hier/* ./debian/tmp/
	find ./debian/tmp -name .svn -type d | xargs rm -fr

clean:
	dh_testdir
	dh_testroot
	rm -f build-arch-stamp build-indep-stamp configure-stamp
	rm -rf debian/tmp
	dh_clean
	find . -type f -name '*.pyc' | xargs rm -f


binary-indep: build
	dh_testdir
	dh_testroot
	dh_movefiles
#	dh_installdebconf
	dh_shlibdeps
	dh_installdocs -n
#	dh_installexamples
#	dh_installmenu
	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
	dh_installinit -n
#	dh_installcron
#	dh_installman
#	dh_installinfo
#	dh_undocumented
	dh_installchangelogs
#	dh_strip
#	dh_link
	dh_compress
#	dh_fixperms
	dh_installdeb
#	dh_perl
#	echo "`cat debian/version`"
	if [ -f debian/version ] ; then dh_gencontrol -a -- -v"`cat debian/version`" ; else dh_gencontrol -a ; fi
	dh_md5sums

binary-arch: 
# nothing to do

binary: binary-indep binary-arch
	dh_builddeb 

.PHONY: build clean binary-indep binary binary-indep binary-arch install configure


