Source: untangle-disabler-mv
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <seb@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.7.2

Package: untangle-disabler-standard-bundle
Architecture: any
Depends: untangle-disabler-spyware, untangle-disabler-httpblocker, untangle-disabler-protofilter, untangle-disabler-spamassassin, untangle-disabler-clamphish
Description: The Untangle Security Bundle Disabler
 The Untangle Total Security Bundle Disabler.

Package: untangle-disabler-spyware
Architecture: any
Description: The Untangle Spyware Blocker Disabler
 The Untangle Spyware Blocker Software Appliance Disabler.

Package: untangle-disabler-httpblocker
Architecture: any
Description: The Untangle Web Filter Disabler
 The Untangle Web Filter Software Appliance Disabler.

Package: untangle-disabler-hauri
Architecture: any
Description: The Hauri AntiVirus Scanner Disabler
 The Hauri AntiVirus Scanner Software Appliance Disabler.

Package: untangle-disabler-protofilter
Architecture: any
Description: The Untangle Rogue Protocol Control Disabler
 The Untangle Rogue Protocol Control Software Appliance Disabler.

Package: untangle-disabler-spamassassin
Architecture: any
Description: The Untangle SpamGuard Disabler
 The Untangle SpamGuard Software Appliance Disabler.

Package: untangle-disabler-clamphish
Architecture: any
Description: The Untangle PhishNet Disabler
 The Untangle PhishNet Software Appliance Disabler.

Package: untangle-disabler-portal
Architecture: any
Description: The Untangle Remote Access Portal Disabler
 The Untangle Remote Access Portal Disabler.

Package: untangle-disabler-boxbackup
Architecture: any
Description: The Untangle Configuration Backup Disabler
 The Untangle Configuration Backup Disabler.
