<div id="<%= stage.id %>" style="display: none">
  <h1><%= "Finish".t %></h1>
  
  <h2><%= "Congratulations you have configured networking.".t %></h2>
</div>

<%= javascript_tag <<EOF
Wizard.nextEnterCallback['#{stage.id}'] = function()
{ 
  Wizard.disableNavButtons();
};

Wizard.networkURL = '#{url_for( :controller => 'network' )}';
EOF
%>
