<div id="<%= stage.id %>" style="display: none">
  <h1><%= "Finish".t %></h1>
  
  <h2><%= "Congratulations you have configured the Net Alpaca.".t %></h2>
</div>

<%= javascript_tag <<EOF
Wizard.nextEnterCallback['#{stage.id}'] = function()
{ 
  Wizard.disableNavButtons();
};
EOF
%>
