<div id="<%= stage.id %>" style="display: none">
  <h1><%= stage.name %></h1>
  
  <ul class="text-fields">
    <li>
      <label for="locale"><%= _("Hostname:") %></label>
      <%= text_field_tag( "hostname", stage.hostname ) %>
    </li>
  </ul>
</div>