<li>
  <div class="name">
    <%= interface_review.name %>
  </div>
  <div class="os_name">
    <%= interface_review.os_name %>
  </div>
  <div class="type">
    <%= interface_review.config_type %>
  </div>
  <div class="value">
    <%= interface_review.value %>
  </div>
</li>
