<li>
  <div class="i-column-1">
    <%= interface.os_name %>
  </div>
  <div class="i-column-2">
    <%= print_field( interface.vendor ) %>
  </div>
  <div class="i-column-3">
    <%= print_field( interface.mac_address ) %>
  </div>
</li>
