<div id="<%= stage.id %>" style="display: none">
  <h1><%= stage.name %></h1>

  <p><%= _("Please select your locale") %></p>
  
  <ul class="text-fields">
    <li>
      <label for="locale"><%= _("Language:") %></label>
      <%= select_tag( "locale", options_for_select( stage.locale_array, stage.settings.key )) %>
    </li>
  </ul>
</div>