<div id="<%= stage.id %>" style="display: none">
  <h1>Placeholder</h1>
</div>

<%= javascript_tag <<EOF
/* Call the RJS requested in the callback */
Wizard.nextEnterCallback['#{stage.id}'] = function()
{ 
  new Ajax.Request( '#{url_for( :action => stage.rjs, :stage_id => stage.id )}', { asynchronous:false, evalScripts:true, parameters:Form.serialize('wizard-data')} );
};
EOF
%>

