<div id="<%= stage.id %>">
  <h1><%= _("Welcome") %></h1>

  <h3><font color="red"><%= _("WARNING: All current settings will be lost.") %></font></h3>

  <h2><%= _("Click next to continue.") %></h2>
</div>
