Source: untangle-cpd
Section: admin
Priority: optional
Maintainer: Robert Scott <rbscott@untangle.com>
Build-Depends: debhelper (>> 3.0.0), libc6 (>= 2.3.2), libjson-dev, libjson0, libmicrohttpd-dev (< 0.4), libmicrohttpd4 (< 0.4), ruby, libjson-ruby, curl, gcc, make, fakeroot, libsysfs-dev, liblua5.1-0-dev
Standards-Version: 3.7.2

Package: untangle-cpd
Architecture: any
Depends: ${shlibs:Depends}, dash, libjson-ruby, arping, dnsutils, iputils-ping, wget, sudo, lua5.1, liblua5.1-0, liblua5.1-md5-0, liblua5.1-sql-sqlite3-2, liblua5.1-sql-postgres-2, liblua5.1-socket2, liblua5.1-cgi0, liblua5.1-logging
Description: The Untangle Captive Portal
 The Untangle Captive Portal.  A utility for capturing and tracking who is logged in where.
