Source: untangle-fprot
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <seb@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.7.2

Package: untangle-fprot
Architecture: any
Depends:
Conflicts: f-prot
Description: F-Prot Virus scanner
 The F-Prot Linux Virus Scanner.
