<div class="ip-networks">
  <table id="ip_networks" class="ip-networks">
    <tr>        
      <th><%= "Address and Netmask".t %></th>
      <th><%= "ping".t %></th>
      <th><%= "Delete".t %></th>
    </tr>
    
    <%= render(:partial => "ip_network" , :collection => ip_networks ) %>
  </table>
</div>