<div class="nat-policies">
  <table id="nat_policies">
    <tr>        
      <th><%= "Address and Netmask".t %></th>
      <th><%= "Source Address".t %></th>
      <th><%= "Delete".t %></th>
    </tr>
    
    <%= render(:partial => "nat_policy" , :collection => nat_policies ) %>
  </table>
</div>
