<table id="nat_policies">
  <tr>        
    <th>Address and Netmask</th>
    <th>Source Address</th>
    <th>Delete</th>
  </tr>
  
  <%= render(:partial => "nat_policy" , :collection => nat_policies ) %>
</table>
