Source: untangle-openssh-server
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <seb@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.7.2

Package: untangle-openssh-server
Architecture: any
Depends: openssh-server
Description: The Untangle ssh server
 Runs on a high port.
