Source: untangle-ntp-config
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <seb@untangle.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.8.0

Package: untangle-ntp-config
Architecture: all
Provides: untangle-ntpdate-config
Replaces: untangle-ntpdate-config
Conflicts: untangle-ntpdate-config
Depends: ntpdate, ntp-server
Description: The Untangle ntp config
 The Untangle autoconfigurator for ntp.
