Source: untangle-kiosk
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <seb@untangle.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.8.0

Package: untangle-kiosk
Architecture: all
Depends: fbpanel, feh, iceweasel | firefox, adduser, xorg, xfce4-session, rsync, rungetty, xterm
Conflicts: x-display-manager
Description: The Untangle kiosk utils
 The Untangle kiosk mode utilities.
