Source: untangle-kiosk
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <sdelafond@gmail.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8

Package: untangle-kiosk
Architecture: all
Depends: ${misc:Depends}, acpi-support-base,
         adduser,
         chromium,
	 fbpanel,
         feh,
         gvidm,
         ncurses-term,
         rsync,
         rungetty,
         rxvt-unicode-ml | rxvt-unicode,
         sudo,
         fonts-hanazono,
         xfce4-session,
         xfwm4,
         xorg,
         xserver-xorg-input-all,
	 xserver-xorg-legacy,
         xserver-xorg-video-all,
	 zenity
Conflicts: x-display-manager
Description: The Untangle kiosk utils
 The Untangle kiosk mode utilities.

