Source: untangle-kiosk
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <seb@untangle.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.8.0

Package: untangle-kiosk
Architecture: all
Depends: acpi-support-base,
         adduser,
         chromium | oracle-java7-jdk | oracle-java7-jre,
	 fbpanel,
         feh,
         gvidm,
         ncurses-term,
         rsync,
         rungetty,
         rxvt-unicode-ml,
         sudo,
         sysvinit-core,
         ttf-kochi-gothic,
         unzip,
         xfce4-mcs-manager | xfce4-session,
         xfwm4,
         xorg,
         xserver-xorg-input-all,
         xserver-xorg-video-all,
         zenity,
         zip
Conflicts: systemd-sysv,
	   systemd,
	   libsystemd-journal0,
	   libsystemd-daemon0,
	   libsystemd-id128-0,
           x-display-manager
Description: The Untangle kiosk utils
 The Untangle kiosk mode utilities.
