Source: untangle-cli-client
Section: admin
Priority: optional
Maintainer: Ken Hilton <ken@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.7.2

Package: untangle-cli-client
Architecture: all
Depends: ruby
Description: The Untangle CLI Client
 The Untangle CLI Client.
