Source: untangle-freeradius-config
Section: admin
Priority: optional
Maintainer: Christian Rasmussen <crasmussen@untangle.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8

Package: untangle-freereadius-config
Architecture: all
Depends: ${misc:Depends}, freeradius
Conflicts: 
Description: Untangle freeradius config
 The Untangle freeradius configuration.
 .
 This is a dependency package.
