Source: untangle-appliance
Section: admin
Priority: optional
Maintainer: John Irwin <jdi@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.7.2

Package: untangle-appliance
Architecture: any
Depends: untangle-dhclient-config, untangle-ntpdate-config, untangle-postgresql-config, firefox, untangle-exim4-config, ntp-server, snmpd, snmp, untangle-client
Description: The Untangle appliance
 The Untangle appliance mode.
