/* Left side container */
.content-left {
	width: 214px;
	background:#F9F9FA url(../images/admin/background_left.png)  repeat-x !important;
	text-align:center;
	height:100%;
	border-right:1px #333 solid;
}
/* right content container */
#content-right {
	height:100%;
}
/* right content background */
div.center-region {
	background: transparent url(../images/admin/background_right.png) repeat !important;
}
/* rack nodes background */
#racks {
	position:relative;
	margin:auto;
	background: transparent url(../images/admin/background_empty_rack.png) repeat-y;
	width:785px;
	height:100%;
}
div.racks-with-separator {
	background:scroll 0px 100px;
}
div.racks-without-separator {
	background:scroll 0px 50px;
}
/* logo container */
div.logo {
	position:relative;
	height:100px;
	margin-top:20px;
    margin-left: auto;
    margin-right: auto;
	margin-bottom:15px;
	overflow:hidden;
}
/* left tabs container */
.left-tabs {
    background-color: transparent;
    padding:0px 3px 0px 3px;
}
/* top rack list background */
#rack-list {
	position:relative;
	background:transparent url(../images/admin/background_rack_list.png) no-repeat;
	width:785px;
	height:51px;
}
/* rack nodes containser */
#rack-nodes {
	position:relative;
	width:785px;
}
/* node background */
div.node {
	position:relative;
	background: transparent url(../images/admin/background_node.png) no-repeat;
    width:785px;
    height:72px;
}
div.node-cap {
    background-color:#666666;
    height:98%;
    left:0px;
    opacity:0.7;
    filter:alpha(opacity=70);
    position:absolute;
    width:100%;
    z-index:1000;
}
/* Service separator text */
#nodes-separator-text {
	position:relative;
	left: 85px;
	top: 8px;
	width: 300px;
	font-family: verdana, helvetica,freesans,sans-serif;
	font-size:16px;
	color: #FFFFFF;
}
/* Service separator for nodes */
#nodes-separator {
	position:relative;
	background: transparent url(../images/admin/background_separator.png) no-repeat;
	width:785px;
	height:36px;
}
/* Node image container */
.node-image {
	position:absolute;
	top:14px;
	left:380px;
}
/* node display name text*/
div.node div.node-label {
	position: absolute;
	text-align:center;
	font-weight:bold;
	top: 7px;
	left: 2px;
	height: 55px;
	width: 230px;
	font-family: tahoma,arial, freesans,sans-serif;
	font-size: 13px;
	color: #000000;
}
/* node trial info text */
div.node div.node-trial-info {
	position: absolute;
	top: 56px;
	left: 330px;
	font-family: arial, helvetica,freesans,sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #DE2020;
}
.buy-button-text .x-btn-text-icon{
    margin-left:20px;
}
/* Application Item buy button text */
.buy-button-text .x-btn-text-icon .x-btn-center .x-btn-text {
    color:white;
    font-weight:bold;
}
/* Trial node buy button icon */
button.icon-buy {
	background:transparent url(../images/admin/icon_buy.png) no-repeat center left !important; 
}
/* Application Item buy button icon */
div.icon-buy {
	background:transparent url(../images/admin/icon_buy.png) no-repeat !important;
	height:15px;
	width:15px;
}
/* help button icon */
button.icon-help {
	background:transparent url(../images/admin/icon_help.png) no-repeat center left !important; 
}
/* logout button icon */
button.icon-logout {
	background:transparent url(../images/admin/icon_logout_row.gif) no-repeat center left !important; 
}
/* myaccount button icon */
button.icon-myaccount {
	background:transparent url(../images/admin/icon_myaccount.png) no-repeat center left !important; 
}
/* help button icon */
div.icon-help {
	background:transparent url(../images/admin/icon_help.png) no-repeat !important;
	height:15px;
	width:15px;
}
/* node state container */
div.node div.node-state {
	z-index: 200;
	position:absolute;
	top:35px;
	right:40px;
	height:33px;
	width: 33px
}
/* node state on icon */
div.icon-state-on {
	background:transparent url(../images/admin/icon_state_on.png) no-repeat center !important; 
}
/* node state off icon */
div.icon-state-off {
	background:transparent url(../images/admin/icon_state_off.png) no-repeat center !important; 
}
/* node state attention icon */
div.icon-state-attention {
	background:transparent url(../images/admin/icon_state_attention.png) no-repeat center !important; 
}
/* node state error icon */
div.icon-state-error {
	background:transparent url(../images/admin/icon_state_error.png) no-repeat center !important; 
}
/* node power button icon */
div.node div.node-power {
	position:absolute;
	top:33px;
	right:74px;
	height:33px;
	width: 33px;
    background:transparent url(../images/admin/icon_power.png) no-repeat center !important; 
	cursor:pointer;
	cursor:hand; /*for ie*/
}
/* node power expired button icon */
div.node div.node-power-expired {
    position:absolute;
    top:15px;
    right:54px;
    height:33px;
    width: 33px;
    background:transparent url(../images/admin/icon_power_expired.png) no-repeat center !important; 
    cursor:pointer;
    cursor:hand; /*for ie*/
}
/* node power expired button icon */
div#rack-select-container{
    float:left;
    margin-left:38px;
    margin-top:14px;
}
div#parent-rack-container{
    background-color:#333333;
    color:#FFFFFF;
    float:left;
    font-family:Tahoma;
    font-size:11px;
    height:20px;
    line-height:16px;
    margin-left:10px;
    margin-top:14px;
    overflow:hidden;
    padding:0 10px;
}
/* node buttons panel container */
div.node div.node-buttons {
    position:absolute;
	top:30px;
	left:45px;
	width: 1px;
}
/* node settings button icon */
button.node-settings-icon {
	background:transparent url(../images/admin/icon_settings.png) no-repeat center left !important;  
}
div.window-background {
	background: transparent url(../images/admin/background_grey.png) repeat;
}
/* node remove button icon */
button.node-remove-icon {
	background:transparent url(../images/admin/icon_remove.png) no-repeat center left !important; 
}
/* cancel button icon */
button.cancel-icon {
	background:transparent url(../images/admin/icon_cancel.png) no-repeat center left !important; 
}
/* save button icon */
button.save-icon {
	background:transparent url(../images/admin/icon_save.png) no-repeat center left !important; 
}
/* apply button icon */
button.apply-icon {
	background:transparent url(../images/admin/icon_floppy.png) no-repeat center left !important; 
}
/* test button icon */
button.test-icon {
	background:transparent url(../images/admin/icon_test.png) no-repeat center left !important; 
}
/* action button icon */
button.action-icon {
    background:transparent url(../images/admin/icon_action.gif) no-repeat center left !important; 
}
/* purge button icon */
button.purge-icon {
	background:transparent url(../images/admin/icon_purge.png) no-repeat center left !important; 
}
/* release button icon */
button.release-icon {
    background:transparent url(../images/admin/icon_release.png) no-repeat center left !important; 
}
/* detail button icon */
button.detail-icon {
	background:transparent url(../images/admin/icon_detail.png) no-repeat center left !important; 
}
/* reboot button icon */
button.reboot-icon {
    background:transparent url(../images/admin/icon_reboot.png) no-repeat center left !important; 
}
/* node blingers container */
div.node-blingers {
	position:absolute;
	bottom: 6px;
	right: 150px;
	width: 300px;
	height: 70px;
}
/* blinger text */
div.blinger-text {
	font-family: "Arial", helvetica,freesans,sans-serif;
	font-size: 8px;
	color: #FFFFFF;
}
/* blinger name text */
div.blinger-name {
	position:absolute;
	top:1px;
	right:10px;
	font-family: "times", helvetica,freesans,sans-serif;
	font-size: 10px;
	color: #3F3F3F;
	display: none;
}
/* activity blinger container */
div.activity-blinger {
	position: absolute;
	top: -8px;
	left: -83px;
	width: 25px;
	height: 40px;
	scroll 0px 7px !important;
}
/* activity blinger box container */
div.activity-blinger-box {
	position: relative;
	top: 18px;
	left: -33px;
	height:40px;
	width:60px;
}
/* activity blinger text */
div.activity-blinger-text {
	position:absolute;
	right:-38px;
	font-weight:bold;
	text-align: right;
	color: #FFFFFF;
	z-index: 15;
}
/* activity blinger bar background */
div.activity-blinger-bar {
	position: absolute;
	background: transparent url(../images/admin/background_activity_blinger_bar.png) repeat-x;
	width:25px
	left:-50px;
	height:7px;
	z-index: 14;
}
/* system blinger container */
div.system-blinger {
	position:absolute;
	top: -5px;
	right: -45px;
	width: 200px;
	height: 87px;
	scroll 0px 7px !important;
}
/* system blinger box container */
div.system-blinger-box {
	position: relative;
	top:15px;
	left:5px;
	width: 172px;
	height:60px;
}
/* system blinger label */
div.system-blinger-label {
	position:absolute;
	left:0px;
	text-align: left;
	font-weight: bold;
	font-size: 9px;
	color: #FFFFFF;
	width: 96px;
	height: 10px
	padding-left: 4px; 
	overflow: hidden;
	white-space : nowrap;
}
/* system blinger value */
div.system-blinger-value {
	position:absolute;
	right:0px;
	text-align: right;
	color: #FFFFFF;
	font-size: 10px;
	padding-right:4px;
	width: 100px;
	height: 14px;
	right !important;
}
div.system-blinger-settings {
	position: absolute;
	right: 10px;
	bottom: 0px;
	width: 11px;
	height: 11px;
	background: transparent url(../images/admin/icon_system_blinger_settings.png) no-repeat !important;
}
div.pixel {
	position:absolute;
	width:1px;
	height:1px;
}
div.toolbox-button {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}
.ung-button {
	cursor: pointer;
	background-color: #E9E9E9;
	border: 1px solid #9B9B9B;
}
.ung-button-hover {
	border-color:#366dba;
	color:#366dba;
	background-color:#f1f6fc;
}
div.ung-button-invalid {
	border: 1px solid green;
}
/* add row button icon */
button.icon-add-row {
    background: transparent url(../images/admin/icon_add_row.gif) no-repeat center left !important;
}
/* edit row icon */
div.icon-edit-row {
	background:transparent url(../images/admin/icon_edit_row.gif) no-repeat center center;
	width: 100%;
	cursor: pointer;
}
/* delete row button icon */
button.icon-delete-row {
    background:transparent url(../images/user/icon_remove.png) no-repeat center left !important;
}
/* delete row icon */
div.icon-delete-row {
	background:transparent url(../images/admin/icon_delete_row.gif) no-repeat center center;
	width: 100%;
	cursor: pointer;
}
/* logout row icon */
div.icon-logout-row {
    background:transparent url(../images/admin/icon_logout_row.gif) no-repeat center center;
    width: 100%;
    cursor: pointer;
}
/* detail row icon */
div.icon-detail-row {
    background:transparent url(../images/admin/icon_detail_row.gif) no-repeat center center;
    width: 100%;
    cursor: pointer;
}
/* drag icon */
div.icon-drag {
    background:transparent url(../images/admin/icon_drag.gif) no-repeat center center;
    width: 100%;
    cursor: move;
}
/* refresh button icon */
button.icon-refresh {
    background: transparent url(../images/admin/icon_refresh.png) no-repeat center left !important;
}
/* autorefresh button icon */
button.icon-autorefresh {
    background: transparent url(../images/admin/icon_autorefresh.png) no-repeat center left !important;
}
/* color of a deleted row in grid */
.grid-row-deleted {
	background-color: #FF5151;
}
/* color of an added row in grid */
.grid-row-added {
	background-color: #21FF3A;
}
/* color of a modified row in grid */
.grid-row-modified {
	background-color: #FFB364;
}
/* Config Network item icon */
div.icon-config-network {
	background: transparent url(../images/admin/config/icon_config_network.png) no-repeat !important; 
	width:36px;
	height:36px;
}
/* Config Administration item icon */
div.icon-config-admin {
	background: transparent url(../images/admin/config/icon_config_admin.png) no-repeat !important; 
	width:36px;
	height:36px;
}
/* Config Email item icon */
div.icon-config-email {
	background: transparent url(../images/admin/config/icon_config_email.png) no-repeat !important; 
	width:36px;
	height:36px;
}
/* Config Local Directory item icon */
div.icon-config-directory {
	background: transparent url(../images/admin/config/icon_config_directory.png) no-repeat !important; 
	width:36px;
	height:36px;
}
div.icon-config-backup {
	background: transparent url(../images/admin/config/icon_config_backup.png) no-repeat !important; 
	width:36px;
	height:36px;
}
/* Config System Info item icon */
div.icon-config-support {
	background: transparent url(../images/admin/config/icon_config_support.png) no-repeat !important; 
	width:36px;
	height:36px;
}
/* Config Upgrades Available item icon */
div.icon-config-upgrade-available {
    background: transparent url(../images/admin/config/icon_config_upgrade_available.png) no-repeat !important; 
    width:36px;
    height:36px;
}
/* Config Upgrades unavailable item icon */
div.icon-config-upgrade {
    background: transparent url(../images/admin/config/icon_config_upgrade.png) no-repeat !important; 
    width:36px;
    height:36px;
}
/* Config System item icon */
div.icon-config-setup {
	background: transparent url(../images/admin/config/icon_config_setup.png) no-repeat !important; 
	width:36px;
	height:36px;
}
thead tr.x-grid3-hd-row {
	text-align: center;
}
/* left side app item container */
div.app-item {
    cursor: pointer;
	position: relative;
	height: 53px;
	margin-bottom: 2px;
	margin-top:2px;
	margin-left:auto;
	margin-right:auto;
}
/* app item left background */
td.app-item-left {
    background: transparent url(../images/admin/background_app_item_left.png) no-repeat !important;
    width: 2px;
}
/* app item center background */
td.app-item-center {
    background: transparent url(../images/admin/background_app_item_center.png) repeat-x !important;
    width: 100%;
}
/* app item right background */
td.app-item-right {
    background: transparent url(../images/admin/background_app_item_right.png) no-repeat !important;
    width: 2px;
}
/* app item icon background */
td.app-item-center div.icon {
	position: absolute;
	top: 5px;
	left: 5px;
}
/* app item display name text */
td.app-item-center div.text {
	position: absolute;
	top: 5px;
	left: 53px;
	width: 123px;
	height: 35px;
	text-align: left;
	color:#FFFFFF;
	font-size: 10px;
	font-weight: bold;
	font-family:Tahoma, arial,  helvetica,freesans,sans-serif;
}
/* app item config display name text */
td.app-item-center div.text-center {
	top: 15px;
}
/* app item action text */
td.app-item-center div.action {
    position: absolute;
    right: 5px;
    top: 34px;
    height: 15px;
    font-family: tahoma,arial,  helvetica,freesans,sans-serif;
    font-size: 11px;
    color: white;
    padding-right: 19px;
	line-height:15px;
}
/* app item buy button */
td.app-item-center div.button-buy {
	position: absolute;
	left: 53px;
	top: 34px;
	cursor: pointer;
	height: 15px;
    font-family: tahoma,arial,  helvetica,freesans,sans-serif;
	font-size: 11px;
	color: white;
	padding-right: 19px;
}
/* app item progress bar container */
td.app-item-center div.state-pos {
	position: absolute;
	left: 52px;
	top: 33px;
	cursor: pointer;
	height: 15px;
	font-family: verdana,  helvetica,freesans,sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: red;
}
/* app item info icon */
div.icon-info {
	background:transparent url(../images/admin/icon_info.png) no-repeat center right !important;
}
/* app item install icon */
div.icon-arrow-install{
	background:transparent url(../images/admin/icon_install.png) no-repeat right center !important;	
}
/* app item buy icon */
div.icon-arrow-buy {
	/*background:transparent url(../images/admin/icon_arrow_right.png) no-repeat center right !important;*/
	background:transparent url(../images/admin/icon_buy.png) no-repeat right center !important;	
}
div.icon-arrow-right {
	/*background:transparent url(../images/admin/icon_arrow_right.png) no-repeat center right !important;*/
	background:transparent url(../images/admin/icon_buy.png) no-repeat right center !important;	
}
/* app item more info icon */
div.icon-arrow-down {
	background:transparent url(../images/admin/icon_arrow_down.png) no-repeat center right !important;
}
/* settings window breadcrumbs separator */
.icon-breadcrumbs-separator {
    background:transparent url(../images/admin/icon_breadcrumbs_separator.gif) no-repeat center center !important;
    width:13px;
    height:12px;
}
/* breadcrumb text */
.breadcrumb-text {
    font-size:11px; /* On a base font of 13px works out to 11.05px*/
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    line-height:14px; /* works out to 14px */
    font-family:arial,"helvetica,freesans","Utkal","Nimbus Sans L","Malayalam","Phetsarath OT","Garuda",clean,helvetica,freesans,sans-serif;
}
/* breadcrumb link */
.breadcrumb-link {
	font-size:11px; /* On a base font of 13px works out to 11.05px*/
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	line-height:14px; /* works out to 14px */
	font-family:arial,"helvetica,freesans","Utkal","Nimbus Sans L","Malayalam","Phetsarath OT","Garuda",clean,helvetica,freesans,sans-serif;
	color: #20377A;
}
.untangle-form-panel
{ 
  padding:5px 5px 0px 5px;
}
/* rack top system stat container */
div.system-stats {
	position:absolute;
	width: 320px;
	height: 50px;
    top:0px;
    right:40px;
    color: #FFFFFF;
    font-size: 10px;
}
/* system stats label */
div.system-stats div.label {
	position:absolute;
	bottom:4px;
    text-align: center;
    color: #000000;
	font-family:arial,helvetica,freesans,sans-serif;
}
/* system stats network*/
div.system-stats div.network {
    position: absolute;
    top: 4px;
    left:0px;
    background: transparent url(../images/admin/background_network.png) no-repeat;
    width:99px;
    height:30px;
    font-weight: normal;
}
/* system stats network tx container*/
div.system-stats div.network div.tx {
    position: absolute;
    top: 2px;
    left:0px;
    width:77px;
    height:15px;
    padding-left:20px;
    color:#55BA47;
    background: transparent url(../images/admin/icon_network_tx.png) no-repeat scroll 5px 1px !important;
	font-family:arial,helvetica,freesans,sans-serif;	
}
div.system-stats div.network div.tx-idle {
    background: transparent url(../images/admin/icon_network_tx-idle.png) no-repeat scroll 5px 1px !important;
}
/* system stats network rx container*/
div.system-stats div.network div.rx {
    position: absolute;
    bottom:0px;
    width:77px;
    height:15px;
    padding-left:20px;
    color:orange;/*#AC2322;*/
    background: transparent url(../images/admin/icon_network_rx.png) no-repeat scroll 5px 1px !important;
	font-family:arial,helvetica,freesans,sans-serif;		
}
div.system-stats div.network div.rx-idle {
    background: transparent url(../images/admin/icon_network_rx-idle.png) no-repeat scroll 5px 1px !important;
}
/* system stats network rx value */
div.system-stats div.network div.rx div.rx-value {
    position: absolute;
    top:0px;
    right:0px;
	font-family:arial,helvetica,freesans,sans-serif;		
}
/* system stats network tx value */
div.system-stats div.network div.tx div.tx-value {
    position: absolute;
    top:0px;
    right:0px;
	font-family:arial, helvetica,freesans,sans-serif;
}
/* system stats cpu */
div.system-stats div.cpu {
    position: absolute;
    top: 4px;
    left:113px;
    background: transparent url(../images/admin/background_cpu.png) no-repeat;
    width:50px;
    height:30px;
    text-align: center;
    padding-top: 7px;
    font-weight: bold;
	font-family:arial, helvetica,freesans,sans-serif;
	
}
/* system stats memory */
div.system-stats div.memory {
    position: absolute;
    top: 4px;
    left:177px;
    background: transparent url(../images/admin/background_network.png) no-repeat;/*../images/admin/background_memory.png) no-repeat;*/
    width:99px;
    height:30px;
    font-weight: bold;
	font-family:arial, helvetica,freesans,sans-serif;
	
}
/* system stats free memory */
div.system-stats div.memory div.free {
    position: absolute;
    top: 2px;
    left:0px;
    width:90px;
    height:15px;
    padding-left:4px;
    color:#55BA47;
	font-family:arial, helvetica,freesans,sans-serif;
	
}
/* system stats used memory */
div.system-stats div.memory div.used {
    position: absolute;
    bottom:0px;
    width:90px;
    height:15px;
    padding-left:4px;
    color:orange;/*#AC2322;*/
	font-family:arial, helvetica,freesans,sans-serif;
}
/* system stats free memory value */
div.system-stats div.memory div.free div.free-value {
    position: absolute;
    top:0px;
    right:0px;
	font-family:arial, helvetica,freesans,sans-serif;
	
}
/* system stats used memory value */
div.system-stats div.memory div.used div.used-value {
    position: absolute;
    top:0px;
    right:0px;
	font-family:arial, helvetica,freesans,sans-serif;
	
}
/* system stats disk */
div.system-stats div.disk {
    position: absolute;
    top: 4px;
    right:0px;
    background: transparent url(../images/admin/background_disk.png) no-repeat;
    width:30px;
    height:30px;
}
/* system stats disk percent range 0,5,10...95,100*/
div.system-stats div.disk div.disk0 {
	width:30px;
    height:30px;
    background: transparent url(../images/admin/disk/icon_disk0.png) no-repeat center center;
}
div.system-stats div.disk div.disk5 {
    width:30px;
    height:30px;
	background: transparent url(../images/admin/disk/icon_disk5.png) no-repeat center center;
}
div.system-stats div.disk div.disk10 {
    width:30px;
    height:30px;
    background: transparent url(../images/admin/disk/icon_disk10.png) no-repeat center center;
}
div.system-stats div.disk div.disk15 {
    width:30px;
    height:30px;
	background: transparent url(../images/admin/disk/icon_disk15.png) no-repeat center center;
}
div.system-stats div.disk div.disk20 {
    width:30px;
    height:30px;
    background: transparent url(../images/admin/disk/icon_disk20.png) no-repeat center center;
}
div.system-stats div.disk div.disk25 {
    width:30px;
    height:30px;
    background: transparent url(../images/admin/disk/icon_disk25.png) no-repeat center center;
}
div.system-stats div.disk div.disk30 {
    width:30px;
    height:30px;
    background: transparent url(../images/admin/disk/icon_disk30.png) no-repeat center center;
}
div.system-stats div.disk div.disk35 {
    width:30px;
    height:30px;
    background: transparent url(../images/admin/disk/icon_disk35.png) no-repeat center center;
}
div.system-stats div.disk div.disk40 {
    width:30px;
    height:30px;
    background: transparent url(../images/admin/disk/icon_disk40.png) no-repeat center center;
}
div.system-stats div.disk div.disk45 {
    width:30px;
    height:30px;
    background: transparent url(../images/admin/disk/icon_disk45.png) no-repeat center center;
}
div.system-stats div.disk div.disk50 {
    width:30px;
    height:30px;
    background: transparent url(../images/admin/disk/icon_disk50.png) no-repeat center center;
}
div.system-stats div.disk div.disk55 {
    width:30px;
    height:30px;
    background: transparent url(../images/admin/disk/icon_disk55.png) no-repeat center center;
}
div.system-stats div.disk div.disk60 {
    width:30px;
    height:30px;
    background: transparent url(../images/admin/disk/icon_disk60.png) no-repeat center center;
}
div.system-stats div.disk div.disk65 {
    width:30px;
    height:30px;
    background: transparent url(../images/admin/disk/icon_disk65.png) no-repeat center center;
}
div.system-stats div.disk div.disk70 {
    width:30px;
    height:30px;
    background: transparent url(../images/admin/disk/icon_disk70.png) no-repeat center center;
}
div.system-stats div.disk div.disk75 {
    width:30px;
    height:30px;
    background: transparent url(../images/admin/disk/icon_disk75.png) no-repeat center center;
}
div.system-stats div.disk div.disk80 {
    width:30px;
    height:30px;
    background: transparent url(../images/admin/disk/icon_disk80.png) no-repeat center center;
}
div.system-stats div.disk div.disk85 {
    width:30px;
    height:30px;
    background: transparent url(../images/admin/disk/icon_disk85.png) no-repeat center center;
}
div.system-stats div.disk div.disk90 {
    width:30px;
    height:30px;
    background: transparent url(../images/admin/disk/icon_disk90.png) no-repeat center center;
}
div.system-stats div.disk div.disk95 {
    width:30px;
    height:30px;
    background: transparent url(../images/admin/disk/icon_disk95.png) no-repeat center center;
}
div.system-stats div.disk div.disk100 {
    width:30px;
    height:30px;
    background: transparent url(../images/admin/disk/icon_disk100.png) no-repeat center center;
}
/* system stats tooltip text */
div.extended-stats {
    font-size: 11px;
}
/* system stats tooltip title */
div.extended-stats div.title{
    padding-left: 5px;
    font-weight: bold;
}
/* system stats tooltip value */
div.extended-stats div.values{
    padding-left: 30px;
}
/* upgrade button icon */
button.icon-upgrade {
    background: transparent url(../images/admin/icon_upgrade.png) no-repeat center left !important;
}
div.button-column {
    width:99%;
    height:16px;
    padding-left: 1px;
    overflow: hidden;
}

/* Wizard */
.large-option {
  font-size:14px;
  font-weight:bold;
}
.spacing-margin-1
{
  margin-top:7px;
}
.spacing-margin-2
{
  margin-top:11px;
}
.spacing-margin-spl-1{
    margin-top:11px;
    border-bottom:none;
}
fieldset.wizard-internal-network
{ 
  padding-top : 50px;
 }

div.wizard-network-image-description
{ 
  margin-left : 18px;
  width : 320px;
  }
div.wizard-network-rerouter
{ 
  height: 90px;
  margin-top: 20px;
 }

div.wizard-network-rerouter span
{ 
  float: left;
  width: 340px;
  margin-left : 18px;
  }

.wizard-network-image img, img.wizard-network-image
{ 
  border : 1px #ccc solid;
  padding : 4px;
  margin-top : -90px;
  position : absolute;
  right : 20px;
  }

.wizard-internal-network-address
{ 
  margin-left : 10px;
 }

.wizard-label-margin-4
{ 
  margin-left : 10px;
  }

.wizard-label-margin-5
{ 
  margin-left : 20px;
  }

.wizard-label-margin-6
{
  margin-left: 50px;
  }
.wizard-label-margin-7
{
  margin-left: 17em;
  }
  .wizard-label-margin-8
{
  margin-left: 6.7em;
  }
 .wizard-label-margin-9
{
  margin-left: 11.3em;
  } 
.noborder{
           border:0px solid;
           background-image:none;
           font-family:tahoma,arial,helvetica,freesans,sans-serif;
           font-size:12px;
           font-size-adjust:none;
           font-style:normal;
           font-variant:normal;
           font-weight:normal;
           line-height:normal;	
}


table.email-tester
{ 

    margin-bottom:10px;
    margin-left:7px;
}
/* email test button icon */
button.email-tester
{ 
  background:transparent url(../images/admin/icon_test.png) no-repeat center left !important; 
  width : 125px;
  }

label.optional-email-tester
{ 
  padding: 10px 0px 0px 0px;
  float: right;
  margin-right:28em;
  font-style: italic;
  }

body.wizard label.info-detail
{
	float:left;
	font-size:80%;
	font-style:italic;
	margin-top:-20px;
	padding-left:270px;
  }

.x-form-textfield-detail, .x-form-combo-detail
{ 
  font-size:80%;
  font-style:italic;  
  clear:none !important;
  display:inline !important;
  float:none !important;
  margin-left:4px;
  }
.x-form-combo-detail{
  margin-left:22px;
}
body.wizard
{
  font-family:arial,"helvetica,freesans","Utkal","Nimbus Sans L","Malayalam","Phetsarath OT","Garuda",clean,helvetica,freesans,sans-serif;
  }

body.wizard .ext-el-mask
{ 
  background-color: #CCCCCC;
 }

.network-card-form-margin{
	margin-top:1em;
	padding-top:1em;
}
.network-card-form-margin div div form fieldset{
	border:0px;
	border-top:1px #CCC solid;
}
.test-connectivity{
	position:relative;
	left:300px;
	top:-21px;
}
.test-connectivity-2{
	position:relative;
	left:204px;
}
.right-align{
	margin-left:214px;
}
.small-top-margin{
	margin-top:1em;
}
.small-bottom-margin{
	margin-bottom:1em;
}

#container{
	margin:10px auto;
	position:relative;
}

/* Z-Index required on some browsers. */
.logo-container{
	position:absolute;
	top:10px;
	left:25px;
        z-index : 2;
    width:166px;
    height:100px;
    overflow:hidden;
}
.wizard-steps{
	padding-top:120px;
	background-color:#818181;	
}
.empty-background{
	background-color:none;
}
/* wizard completed step */
.wizard-steps .completed
{ 
  color: #000;  
}
/* wizard incomplete step */
.wizard-steps .incomplete
{ 
  color: #444;
}
/* wizard current step */
.wizard-steps .current
{ 
  color: #333;
  font-weight: bold;
}
/* wizard step container*/
.wizard-steps .step
{
  font-size: 12px;
  line-height: 23px;
  font-family:tahoma,arial,helvetica,freesans,sans-serif;
  margin:3px 0px 3px 25px;
  padding:0px 0px 0px 0px;
 }

.nostep{
         padding:0px 0px 0px 22px;
}
.current div, .incomplete div, .completed div
{
  padding:0px 0px 0px 5px;
  }

.current div{
	width:200px;
 }

.incomplete div
{
  background-color:#818181;
  }

.completed div
{
  background-color:#818181;
}
/* incomplete step marker */
.incomplete div div .count{
	background:url(../images/admin/wizard/step-incomplete.jpg) no-repeat left center !important;
	margin:0px 4px 0px 0px;
	color:#444444;
	font-size:11px;
	margin:0px 4px 0px 0px;
	padding:1px 6px 2px 5px;	
}
/* current step marker */
.current div div .count
{
  background: url(../images/admin/wizard/step-current.jpg) no-repeat left center !important;
  margin:0px 4px 0px 0px;
  color:#444444;
  font-size:11px;
  margin:0px 4px 0px 0px;
  padding:2px 6px 2px 5px;
}
/* completed step marker */
.completed div div .count
{
  background: url(../images/admin/wizard/step-completed.jpg) no-repeat left center !important;
  margin:0px 4px 0px 0px;
  color:#FFF;
  font-size:11px;
  margin:0px 4px 0px 0px;
  padding:1px 6px 2px 5px;	
}
.wizard .x-form-item label
{ 
  text-align: right;
}
/* wizard title*/ 
.wizard-title{
	margin-bottom:1.8em;
	padding-top:5px;
	color:#333;
	font-size:18px;
	font-weight:bold;
    font-family:tahoma,arial,helvetica,freesans,sans-serif;
 }
/* required info text */
.required-info {
    padding-left : 20px;
    display : block;
    font-style : italic;
    font-size : 80%;
}
/* required info star*/
.required-star {
    color:#FF2222;
    font-weight:bold;
 }
.wizard-label{
	color:#333;
	font-size:12px;
}
/* warning message text*/
.warning {
    color: #FF0000;
}
.fixed-pos{
    position: fixed;
}

.draggable-enabled-interface
{ 
  background:transparent url(../images/admin/icon_drag_enabled.png) no-repeat center left;
  width: 100%;
  cursor: move;
  padding: 2px 0px 2px 24px;
  }

.draggable-disabled-interface
{ 
  background:transparent url(../images/admin/icon_drag_disabled.png) no-repeat center left;
  width: 100%;
  cursor: move;
  padding: 2px 0px 2px 24px;
  }
.description {
    font-family:tahoma,arial,helvetica,sans-serif;
    font-size:12px;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    padding: 0px 0px 5px 0px;
}
/* panel content container*/
.ung-panel {
    padding:5px 5px 0px 5px;
}
/* Ext Js Overrides - across the board */
.x-grid3-hd-inner{
	text-transform:capitalize;
}
.x-fieldset{
	padding:5px 10px 10px 20px;
	border:none;
}
.x-fieldset-bwrap{
	padding-bottom:5px;
	border-bottom:1px #d0d0d0 dotted;
}
.x-fieldset legend{
	margin-left:-15px;
	color:#111;
	font-size:12px;
}
/* Specific Overrides*/
#external_administration_fieldset{
	margin-top:10px;
}
.administration_network,.left-indent-1{
	margin-left:17px;
}
.left-indent-2{
	margin-left:34px;
}
.left-indent-3{
    margin-left:5.5em;
}
.left-indent-34{
  margin-left:85px;
}
.left-indent-35{
  margin-left:105px;
}
.left-indent-4{
  margin-left:123px;
}
.left-indent-5{
  margin-left:205px;
}
/*spamblocker stuff*/
.super-spam-threshold label{
  width:150px !important;
}
/* firewall stuff */
.firewall-top-margin-1{
    margin-top:10px;
}
.firewall-spacing-1{
    margin-bottom:10px;
}
.firewall-spacing-2{
    margin-left:-7px;
}
.firewall-spacing-3{
    margin-bottom:15px;
}
/* attack blocker stutt */
.attack-blocker-style-1{
    border:none;
    background:none;
    color:green;
    font-weight:bold;
    text-transform:capitalize;
}

.ua-cell-draggable
{ 
  background: transparent url(../images/admin/icon_drag.gif) no-repeat center center;
  width: 100%;
  height : 16px;
  cursor: move;
  padding: 0px 0px 0px 0px;
  }

.ua-cell-enabled-interface
{ 
  background: transparent url(../images/admin/icon_interface_enabled.png) no-repeat center right;
  width: 100%;
  height : 16px;
  cursor: move;
  padding: 0px 0px 0px 0px;
  }

.ua-cell-disabled-interface
{ 
  background: transparent url(../images/admin/icon_interface_disabled.png) no-repeat center right;
  width: 100%;
  height : 16px;
  cursor: move;
  padding: 0px 0px 0px 0px;
  }

.ua-cell-enabled
{ 
  background: transparent url(../images/admin/icon_interface_enabled.png) no-repeat center center;
  width: 100%;
  height : 16px;
  cursor: move;
  padding: 0px 0px 0px 0px;
  }

.ua-cell-disabled
{ 
  background: transparent url(../images/admin/icon_interface_disabled.png) no-repeat center center;
  width: 100%;
  height : 16px;
  cursor: move;
  padding: 0px 0px 0px 0px;
  }

.alpaca-panel{
 padding:10px;
}

.alpaca-panel .page-header-text{
	font-family:Tahoma, arial, helvetica,freesans,sans-serif;
    font-weight:bold;
    font-size:13px;
    margin-bottom:5px;
    display:block;
}
.x-form-combo-detail{
  margin-left:22px;
}
.label-section-heading, .label-section-heading-2,.label-text{
	font-family:Tahoma, arial, helvetica,freesans,sans-serif;
    font-weight:bold;
    font-size:12px;
    display:block;
    margin-bottom:5px;
}
.label-text{
    font-weight:normal;
}
.label-section-heading-2{
margin-top:10px;
}
.label-width-1 label.x-form-item-label{
width:120px !important;
}
.label-width-1 label.x-form-textfield-detail{
width:180px !important;
}
.label-width-1 div.x-form-element{
padding-left:125px !important;
}
.label-width-2 label.x-form-item-label{
width:190px !important;
}
.label-width-2 label.x-form-textfield-detail{
width:240px !important;
}
.label-width-2 div.x-form-element{
padding-left:200px !important;
}
.float-button-1, .float-button-2{
float:left;
}
.float-button-2{
    clear:right;
    margin-left:10px;
}
.ua-message-warning {
    padding: 5px 5px 5px 28px;
    border: 1px solid #60BB3F;
    background: #FEFEDD url(../images/user/icon_message.png) no-repeat scroll 7px center !important;
    color:#333;
    font-size:11px;
	font-family:Tahoma, arial, helvetica,freesans,sans-serif;
}
.ua-message-warning{
    display:block;
    margin-bottom:10px;
}
.x-btn-text {
	color: #ffffff;
}
table.failover-refresh
{ 
  float : left;
  margin-top : -2.2em;
  margin-left : 22em;
  position : absolute;
  }

table.failover-run-test
{ 
  float : left;
  margin-top : -2.1em;
  margin-left : 23em;
  position : absolute;
  }

table.failover-ping-suggestions
{ 
  float : left;
  margin-top : -2.1em;
  margin-left : 23em;
  position : absolute;
  }


fieldset.failover-test-type
{ 
  border-bottom: none;
  padding-bottom: 0px;
 }

fieldset.failover-test-type div.x-fieldset-bwrap
{ 
  border-bottom: none;
  padding-bottom: 0px;
 }
button.icon-test-run
{
    background: transparent url(../images/admin/icon_test_run.png) no-repeat center left !important;
}

button.icon-test-running
{
    background: transparent url(../images/admin/icon_test_running.gif) no-repeat center left !important;
}

button.icon-clear-output
{
    background: transparent url(../images/admin/icon_clear_output.png) no-repeat center left !important;
}

button.icon-test-ping
{
    background: transparent url(../images/admin/icon_test_ping.png) no-repeat center left !important;
}

button.icon-test-connectivity
{
    background: transparent url(../images/admin/icon_test_connectivity.png) no-repeat center left !important;
}

div.ua-cell-test
{ 
  padding-left: 20px;
  line-height: 18px;
  }

div.ua-cell-test-connectivity
{ 
  background: transparent url(../images/admin/icon_test_connectivity.png) no-repeat center left !important;
  }

div.ua-cell-test-ping
{ 
  background: transparent url(../images/admin/icon_test_ping.png) no-repeat center left !important;
  }

div.ua-cell-test-dns
{ 
  background: transparent url(../images/admin/icon_test_dns.png) no-repeat center left !important;
  }

div.ua-cell-test-tcp
{ 
  background: transparent url(../images/admin/icon_test_tcp.png) no-repeat center left !important;
  }

div.ua-cell-test-traceroute
{ 
  background: transparent url(../images/admin/icon_test_traceroute.png) no-repeat center left !important;
  }

div.ua-cell-test-packet
{ 
  background: transparent url(../images/admin/icon_test_packet.png) no-repeat center left !important;
  }
textarea.ua-test-output
{ 
  font-family: courier, monospace;
 } 
/*.x-panel-btns-ct {
	padding: 0;
	position: absolute;
	top: -17px;
	left: 10px;
}*/