Source: untangle-extra-utils
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <seb@untangle.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.8.0

Package: untangle-extra-utils
Architecture: all
Depends: apachetop,
         attr,
         binutils,
         bsd-mailx,
         bwm-ng,
         bzip2,
         coreutils,
         dctrl-tools,
         dialog,
         hdparm,
         hping3,
         htop,
         httptunnel,
         iftop,
         iotop,
         iptraf,
         jnettop,
         latencytop,
         less,
         lftp,
         libtcl8.6,
         lsof,
         man-db,
         manpages,
         memtester,
         netcat-traditional,
         nmap,
         patch,
         powertop,
         procinfo,
         screen,
         strace,
         stunnel | stunnel4,
         sysstat,
         tcpdump,
         telnet-ssl,
         traceroute,
         wakeonlan,
         whois
Description: Extra utilities for Untangle
 This packages depends on a list of utilities that are, although
 non-essential to the functioning of the Untangle server itself, are
 convenient to have handy.

