Source: untangle-extra-utils
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <sdelafond@gmail.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8

Package: untangle-extra-utils
Architecture: all
Depends: ${misc:Depends}, apachetop,
         attr,
         binutils,
         bsd-mailx,
         bwm-ng,
         bzip2,
         dctrl-tools,
         dialog,
         hdparm,
         hping3,
         htop,
         httptunnel,
         iftop,
         iotop,
         iptraf,
         jnettop,
         latencytop,
         lftp,
         libtcl8.6,
         lsof,
         man-db,
         manpages,
         memtester,
         mmc-utils,
         netcat-traditional,
         nmap,
         patch,
         powertop,
         procinfo,
         screen,
         strace,
         stunnel4,
         sysstat,
         tcpdump,
         telnet-ssl,
         traceroute,
         wakeonlan,
         whois
Description: Extra utilities for Untangle
 This packages depends on a list of utilities that are, although
 non-essential to the functioning of the Untangle server itself, are
 convenient to have handy.
 .
 This is a dependency package.