Source: untangle-lxc-client
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <seb@untangle.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: systemd, debhelper, dh-systemd
Standards-Version: 3.8.0

Package: untangle-lxc-client
Architecture: any
Depends: systemd, dpkg-dev, lxc, cgroupfs-mount, untangle-sync-settings
Description: The Untangle LXC client
 Provides the basic setup for putting an LXC container "behind" a
 local Untangle VM install

