Source: untangle-kernel-modules
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <seb@untangle.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.8.0

Package: untangle-kernel-modules
Architecture: all
Provides: untangle-appliance-int
Conflicts: untangle-appliance-int
Replaces: untangle-appliance-int
Depends: e1000-module-2.6.26-1-untangle-486, e1000-module-2.6.26-1-untangle-686, \
         e1000-module-2.6.26-1-untangle-amd64, \
         e1000-module-2.6.26-2-untangle-486, e1000-module-2.6.26-2-untangle-686, \
         e1000-module-2.6.26-2-untangle-amd64, \
         e1000e-module-2.6.26-1-untangle-486, e1000e-module-2.6.26-1-untangle-686, \
         e1000e-module-2.6.26-1-untangle-amd64, \
         e1000e-module-2.6.26-2-untangle-486, e1000e-module-2.6.26-2-untangle-686, \
         e1000e-module-2.6.26-2-untangle-amd64, \
         igb-module-2.6.26-1-untangle-486, igb-module-2.6.26-1-untangle-686, \
         igb-module-2.6.26-1-untangle-amd64, \
         igb-module-2.6.26-2-untangle-486, igb-module-2.6.26-2-untangle-686, \
         igb-module-2.6.26-2-untangle-amd64, \
         ipset-modules-2.6.26-1-untangle-486, ipset-modules-2.6.26-1-untangle-686, \
         ipset-modules-2.6.26-1-untangle-amd64, \
         ipset-modules-2.6.26-2-untangle-486, ipset-modules-2.6.26-2-untangle-686, \
         ipset-modules-2.6.26-2-untangle-amd64, \
         niagara22xxed-module-2.6.26-1-untangle-486, niagara22xxed-module-2.6.26-1-untangle-686, \
         niagara22xxed-module-2.6.26-1-untangle-amd64, \
         niagara22xxed-module-2.6.26-2-untangle-486, niagara22xxed-module-2.6.26-2-untangle-686, \
         niagara22xxed-module-2.6.26-2-untangle-amd64
Pre-Depends: untangle-debconf-manager
Description: The Untangle appliance internal
 The Untangle appliance internal-to-untangle mode.
