Source: untangle-kernel-modules-stretch-amd64
Section: admin
Priority: standard
Maintainer: Sebastien Delafond <seb@untangle.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.8.0

Package: untangle-kernel-modules-stretch-amd64
Architecture: amd64
Depends: linux-image-4.9.0-3-untangle-amd64, firmware-bnx2, firmware-bnx2x # , e1000e-module-4.9.0-3-untangle-amd64, igb-module-4.9.0-3-untangle-amd64,
Provides: untangle-kernel-modules-stretch
Pre-Depends: untangle-debconf-manager
Description: The Untangle kernel modules for amd64
 The Untangle kernel modules for amd64.

