Source: untangle-fakekdm
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <seb@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.7.2

Package: untangle-fakekdm
Architecture: any
Conflicts: fakekdm-mv
Provides: kdm, fakekdm-mv
Replaces: fakekdm-mv
Description: Fake KDM
 An empty package that supplies KDM.
