NameVirtualHost *:80
NameVirtualHost *:443
NameVirtualHost *:64157

ErrorDocument 400 /error/status400
ErrorDocument 401 /error/status401
ErrorDocument 402 /error/status402
ErrorDocument 403 /error/status403
ErrorDocument 404 /error/status404
ErrorDocument 405 /error/status405
ErrorDocument 406 /error/status406
ErrorDocument 407 /error/status407
ErrorDocument 408 /error/status408
ErrorDocument 409 /error/status409
ErrorDocument 410 /error/status410
ErrorDocument 411 /error/status411
ErrorDocument 412 /error/status412
ErrorDocument 413 /error/status413
ErrorDocument 414 /error/status414
ErrorDocument 415 /error/status415
ErrorDocument 416 /error/status416
ErrorDocument 417 /error/status417
ErrorDocument 500 /error/status500
ErrorDocument 501 /error/status501
ErrorDocument 502 /error/status502
ErrorDocument 503 /error/status503
ErrorDocument 504 /error/status504
ErrorDocument 505 /error/status505

DocumentRoot /var/www/

<Directory /var/www>
    FileETag MTime Size
</Directory>

Include /etc/apache2/untangle-conf.d/*

ErrorLog /var/log/apache2/error.log
CustomLog /var/log/apache2/access.log combined

Alias /auth /usr/share/untangle/mod_python/auth
<Directory /usr/share/untangle/mod_python/auth>
    SetHandler mod_python
    PythonHandler mod_python.publisher
</Directory>

Alias /error /usr/share/untangle/mod_python/error
<Directory /usr/share/untangle/mod_python/error>
    SetHandler mod_python
    PythonHandler mod_python.publisher
</Directory>

<VirtualHost *:80>
    JkMountCopy on
</VirtualHost>

<VirtualHost *:443>
    JkMountCopy on
    SSLEngine on
    SSLCertificateFile /etc/apache2/ssl/apache.pem
</VirtualHost>

<VirtualHost *:64157>
    JkMountCopy on
    SSLEngine on
    SSLCertificateFile /etc/apache2/ssl/apache.pem
</VirtualHost>
