NameVirtualHost *:80
NameVirtualHost *:443
NameVirtualHost *:64157

<VirtualHost *:80>
    ServerName aunt-flo

    DocumentRoot /var/www/

    Include /etc/apache2/untangle-unrestricted-apps

    ErrorLog /var/log/apache2/error.log
    CustomLog /var/log/apache2/access.log combined
</VirtualHost>

<VirtualHost *:443>
    ServerName aunt-flo

    DocumentRoot /var/www/

    Include /etc/apache2/untangle-unrestricted-apps

    ErrorLog /var/log/apache2/error-ssl.log
    CustomLog /var/log/apache2/access-ssl.log combined

    SSLEngine on
    SSLCertificateFile /etc/apache2/ssl/apache.pem
</VirtualHost>

<VirtualHost *:64157>
    ServerName aunt-flo

    DocumentRoot /var/www/

    Include /etc/apache2/untangle-unrestricted-apps

    ErrorLog /var/log/apache2/error-ssl.log
    CustomLog /var/log/apache2/access-ssl.log combined

    SSLEngine on
    SSLCertificateFile /etc/apache2/ssl/apache.pem
</VirtualHost>
