<% 
rowId=system_subscription.system_id
%>
<li id="<%= rowId  %>" class="subscription">
  <div class="enabled">
    <%= hidden_field_tag( "system_subscriptions[]", rowId ) %>
    <%= check_box( "system_enabled", rowId, { :checked => system_subscription.enabled }, true, false ) %>
  </div>
  
  <div class="description" >
    <%= system_subscription.description %>
  </div>
</li>
