Source: diffserver
Section: net
Priority: optional
Maintainer: Aaron Read <amread@untangle.com>
Standards-Version: 3.7.2.1

Package: diffserver
Architecture: all
Depends: ruby (>= 1.8), ruby (<< 1.9)
Description: Phishing Protection Server
 Implements subset of Phishing Protection Server Spec, as defined in:
 http://wiki.mozilla.org/Phishing_Protection:_Server_Spec
