Source: untangle-dhclient-config
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <seb@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.7.2

Package: untangle-dhclient-config
Architecture: all
Depends: dhcp3-client, untangle-net-alpaca
Conflicts: pump, pump-mv
Provides: pump-mv
Replaces: pump-mv
Description: The Untangle pump config
 The Untangle pump custom config.
