Source: untangle-java-keystore-selfsigned
Section: admin
Priority: standard
Maintainer: Sebastien Delafond <seb@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.8.0

Package: untangle-java-keystore-selfsigned
Architecture: all
Conflicts: untangle-java-keystore
Description: The self-signed Untangle java keystore
 The self-signed Untangle java keystore for signing jars.
