Source: untangle-vm-shell
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <seb@untangle.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.8.0

Package: untangle-vm-shell
Architecture: all
Depends: ruby1.8, dash
Suggests: untangle-vm
Description: The Untangle VM shell
 The command-line interface to the Untangle VM machine.
