<div class="dynamic-entries">
  <ul class="dynamic-entry-list" id="<%= 1024 %>">
    <li class="de-header">
      <div class="de-header-1"><%= "Hostname".t %></div>
      <div class="de-header-2"><%= "IP Address".t %></div>
    </li>
    
    <%= render(:partial => "dynamic_entry" , :collection => dynamic_entries ) %>
  </ul>
</div>