Source: untangle-postgresql-config
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <sdelafond@gmail.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: systemd, debhelper (>= 10)
Standards-Version: 3.9.8

Package: untangle-postgresql-config
Architecture: i386 amd64 arm64
Depends: ${misc:Depends}, systemd, procps (>= 3.2.7-2~bpo.1), untangle-hardware-config, postgresql-client-11, postgresql-11
Description: Untangle Postgres wrapper package
 The Untangle Postgres config for Postgres

