Source: untangle-webfilter-init
Section: admin
Priority: optional
Maintainer: Aaron Read <amread@untangle.com>
Uploaders: buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.8.0

Package: untangle-webfilter-init
Architecture: all
Depends:
Description: Webfilter initial blocklists
 Blocklists used during Webfilter initialization.
