Source: untangle-root
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <seb@untangle.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.8.0

Package: untangle-root
Architecture: all
Depends: less,
	 rsync,
         sudo,
	 zsh
Conflicts: untangle-kiosk (<< 13.2.0.20171122~)
Description: The Untangle root configuration
 The Untangle root configuration.

