Source: untangle-ipset-kernel
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <seb@untangle.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.8.0

Package: untangle-ipset-kernel
Architecture: all
Depends: untangle-linux-config
Description: IPSet Module for the untangle kernel.
  This package contains the ipset modules for the untangle kernel.
