Source: untangle-gocr
Section: graphics
Priority: optional
Maintainer: Sebastien Delafond <seb@untangle.com>
Standards-Version: 3.5.10
Build-Depends: tetex-bin, debhelper (>= 3.0), autoconf, libgtk1.2-dev, libnetpbm10-dev, netpbm, transfig, gs, gsfonts

Package: untangle-gocr
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: gocr
Provides: gocr
Replaces: gocr
Recommends: libjpeg-progs, bzip2, netpbm, transfig
Description: A command line OCR
 untangle-gocr is a multi-platform OCR (Optical Character Recognition) program.
 .
 It can read pnm, pbm, pgm, ppm, some pcx and tga image files.
 .
 Currently the program should be able to handle well scans that have their text
 in one column and do not have tables. Font sizes of 20 to 60
 pixels are supported.
 .
 If you want to write your own OCR, libuntangle-gocr is provided in a separate
 package. Documentation and graphical wrapper are provided in separated
 packages, too.
