Source: restore-mv
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <seb@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.7.2

Package: restore-mv
Architecture: any
Depends:
Description: The Untangle restore utility
 The Untangle restore utility for fixing the Untangle Appliance.
