<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <% main_menu = menu_organizer.get_node( "/extjs" ) %>
  <% advanced_menu = menu_organizer.get_node( "/advanced" ) %>
  <% query_path = "/alpaca/#{controller.controller_name}/#{controller.action_name}" %>
  <% query_path += "/#{params["id"]}" unless params["id"].nil? %>

  <head>
    <title>
      <%= (( @title.nil? ) ? ApplicationController::DefaultTitle : @title ).t %>
    </title>
    
    <% @skin_stylesheets.each do |stylesheet| %>
      <%= stylesheet_link_tag stylesheet %>
    <% end %>

    <% @extjs_scripts.each do |script| %>
      <%= javascript_include_tag script %>
    <% end %>
    
    <% @alpaca_scripts.each do |script| %>
      <%= javascript_include_tag script %>
    <% end %>

    <% javascript_tag do -%>
       Ung.Alpaca.BasicMenuData = <%= main_menu.children.to_json %>;
       Ung.Alpaca.AdvancedMenuData = <%= advanced_menu.children.to_json %>;
       Ung.Alpaca.isAdvanced = <%= @config_level  > AlpacaSettings::Level::Basic %>;
       Ung.Alpaca.i18n = <%= @i18n_map.to_json %>;
       Ung.Alpaca.queryPath = '<%= query_path %>';
    <% end %>

    <%= yield %>

  </head>
  <body>
    <div id="base"/>
  </body>
</html>
