<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <% main_menu = menu_organizer.get_node( "/main" ) %>
  <head>
    <title><%= (( @title.nil? ) ? ApplicationController::DefaultTitle : @title ).t %></title>
    <% @stylesheets.each do |sheet| %>
      <%= stylesheet_link_tag sheet %>
    <% end %>
	<!--[if lt IE 7]>
		<%= stylesheet_link_tag "ie.css" %>
	<![endif]-->

	<%= javascript_include_tag :defaults %>

	<% @javascripts.each do |script| %>
			<%= javascript_include_tag script %>
	<% end %>
					
	<!--[if lt IE 7]>
		
		<%= javascript_include_tag "ie7/ie7-core.js" %>
		<%= javascript_include_tag "ie7/ie7-fixed.js" %>
		<%= javascript_include_tag "ie7/ie7-graphics.js" %>
		<%= javascript_include_tag "ie7/ie7-squish.js" %>
	
		<%= stylesheet_link_tag "../javascripts/ext/resources/css/ext-all.css" %>
		<%= stylesheet_link_tag "../javascripts/ext/resources/css/xtheme-gray.css" %>
		<%= javascript_include_tag "ext/ext-prototype-adapter.js" %>
		<%= javascript_include_tag "ext/ext-combo.js" %>
		
		<%= javascript_include_tag "ie6.js" %>
	  
	<![endif]-->
  </head>
  <body>
    <div id="spinner" style="display: none"><%= image_tag("spinner.gif") %></div>
    <div id="overlay"  style="display: none">
      <div id="rule-dialog">
      </div>
    </div>
    <%= render( :partial => main_menu.partial, 
      :locals => { :menu => main_menu, :css_class => "main-menu", :depth => 0, :max_depth => 2 } ) %>
    <div id="main-content">
		<%= yield %>
    </div>
  </body>
</html>
