<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= _(( @title.nil? ) ? ApplicationController::DefaultTitle : @title ) %></title>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "wizard" %>
    <%= stylesheet_link_tag "wizard/main" %>
    <%= stylesheet_link_tag "borax/list-table" %>
    <%= stylesheet_link_tag "wizard/interface-list" %>

    <!--[if lt IE 7]>
      <%= stylesheet_link_tag "ie.css" %>
    <![endif]-->
  </head>
  <body onload="Wizard.changeCurrent( 0 )">
    <div id="wizard">
      <%= yield %>
    </div>
  </body>
</html>
