[Unit]
Description=Untangle Firmware Common
Before=networking.service

[Service]
Type=oneshot
ExecStart=/bin/run-parts --lsbsysinit -v /etc/untangle/hardware/firmware.d
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
