[Unit]
Description=Untangle Firmware Common

[Service]
Type=oneshot
ExecStart=/bin/run-parts --lsbsysinit -v /etc/untangle/hardware/firmware.d

[Install]
WantedBy=multi-user.target
