Source: untangle-python-jsonrpc
Section: python
Priority: extra
Maintainer: Sebastien Delafond <seb@untangle.com>
Build-Depends-Indep: python-all-dev, python (>= 2.3.5-7)
Build-Depends: cdbs (>= 0.4.41), dpatch, debhelper, python-central (>= 0.5)
Standards-Version: 3.8.0
XS-Python-Version: all

Package: untangle-python-jsonrpc
Architecture: all
Depends: ${python:Depends}
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: Python bindings to access Untangle's UVM
 Provides Python bindings to communicate with Untangle's UVM.
