Source: dev-mv
Section: admin
Priority: optional
Maintainer: Dirk Morris <dmorris@metavize.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: dev-mv
Architecture: any
Provides: jre-mv
Depends: libxml2, libxml2-dev, fakeroot, debhelper, make, subversion, iptables-mv, iptables-dev-mv, gcc, libc6-dev, linux-kernel-headers, bridge-utils, postgresql-mv, pgaccess, tcpdump, netcat, libsysfs-dev, g++, devscripts, clamav-mv, spamc-mv
Description: Metavize Dev-Env Package
 The Metavize Development Environment Package
