<div>
  <div id="title"><h1><%= "Please select your locale".t %></h1></div>
  
  <% form_tag( :action => 'save' ) do -%>
    <fieldset>
      <ul class="text-fields">
        <li>
          <label for="locale"><%= "Language:".t %></label>
          <%= select_tag( "locale", options_for_select( @localeArray, @settings.key )) %>
        </li>
      </ul>
    </fieldset>
    
    <%= submit_tag "Cancel".t %>
    <%= submit_tag "Save".t %>
  <% end %>
</div>
  