#! /bin/sh

set -e

# Load debconf
. /usr/share/debconf/confmodule

# This will be replaced with debian/slapd.scripts-common which includes
# various helper functions and $OLD_VERSION and $SLAPD_CONF
#SCRIPTSCOMMON#

# Create an initial directory on fresh install
if is_initial_configuration "$@"; then
  if ! manual_configuration_wanted; then
    db_set slapd/domain nodomain
    db_set shared/organization nodomain
    db_set slapd/internal/adminpw lxouTA896rZrI
    db_set slapd/allow_ldap_v2 false
    db_set slapd/backend BDB
    db_set slapd/purge_database false
  fi
fi

# Configure the dumping component if we are upgrading some older version
if [ "$1" = configure ] && [ -n "$2" ]; then
	configure_ldbm_to_bdb_migration
	configure_dumping
fi
   
# On upgrade from pre-2.1 we have to ask if we shall fix the config file (if
# it exists anyway).
if previous_version_older 2.1; then
  if [ -e "$SLAPD_CONF" ]; then
    db_input medium slapd/autoconf_modules || true
    db_go || true
  fi
fi

# Since version 2.1.23, slapd requires slave databases to have the updateref
# option set
if [ -e "$SLAPD_CONF" ]; then
  if slave_databases_without_updateref; then
    db_input critical slapd/slave_databases_require_updateref || true
    db_go || true
  fi
fi

# Ask if the user would like their package to support LDAPv2..
# This was the default in older versions but we want to ask
# for new installs too in case the user needs it..
db_input medium slapd/allow_ldap_v2 || true
db_go || true
db_stop || true
