Source: untangle-snort-config
Section: admin
Priority: optional
Maintainer: Chris Blaise <cblaise@untangle.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: systemd, debhelper (>= 10)
Standards-Version: 3.9.8

Package: untangle-snort-config
Architecture: all
Depends: ${misc:Depends}, systemd, snort (>= 2.9.7.0), libdaq0
Conflicts: untangle-snort-rules
Replaces: untangle-snort-rules
Provides: untangle-snort-rules
Description: Snort configuration and rules
 Initial versions of Snort configuration and rules.

